{% extends 'recruiterbase.html' %}
{% block title %}
Candidates
{% endblock %}
{%load static %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
        <div class="navbar fixed-top fine border-bottom">

            <h5>Candidates</h5>

            <nav>

                <ul class="nav ">
                    <!-- Authentication Links -->
                    <li class="nav-item">
                        <span data-feather="user">

                        </span>
                        {{ user.username }}
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                    </li>
                    {% endif %}


                </ul>

            </nav>
        </div>
    </div>
    <div class="row">


    <div>
        <img style="margin-left: 327%;width: 400%;" src="/static/frontend/images/networking.svg" alt="Card image cap">
    </div>
        <div style="margin-top: 3%;margin-left: -6%">
            <div class="card" style="width: 35em;box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);">

                <div class="card-body">
                    <h5>list of candidates</h5>
                    <table class="table table-hover">
                        <thead>

                        <tr>

                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for candidate in candidates %}

                        <tr>

                            <td>{{ candidate.first_name }}</td>
                            <td>{{ candidate.last_name }}</td>
                            <td> <span class="is-pulled-right">
                            <a href="#" class="badge badge-primary">Edit</a>
                            <a href="#" class="badge badge-danger">Remove</a>
                        </span></td>
                        </tr>
                        {% endfor %}




                        </tbody>
                    </table>
                    <div style="text-align: -webkit-center;">
                        <button disabled="" class="btn btn-info">Total Cost = ${{ total_amount }}</button>

                        <a href="{% url 'payments:pay' current_transaction.id  total_amount %}" class="btn btn-success">
                            Proceed to make Payment.</a>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>





    </div>






</main>
{% endblock %}
