{% extends 'recruiterbase.html' %}
{% block title %}
Candidates
{% endblock %}
{% load static %}

{% block content %}
<main role="main" class="col-md-12 ml-lg-auto  col-lg-10 px-4 ">
    <div class="d-none d-lg-block">
        <nav class="navbar  navbar-light fixed-top fine border-bottom">
                    <h5 >Onboard  Candidates</h5>
                    <ul class="nav ml-auto">



            {% if request.user.is_authenticated %}
                <li class="nav-item">
                <a  href="/pricing" style="color: black" class="nav-link" >Pricing</a>
            </li>

            <li class="nav-item">
                <a  href="{% url 'account_logout' %}" style="color: black" class="nav-link" >Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a  href="{% url 'account_login' %}" style="color: black" class="nav-link" >Login</a>
            </li>
            <li class="nav-item">
                <a  href="{% url 'account_signup' %}" style="color: black" class="nav-link" >Register</a>
            </li>
            {% endif %}


    </ul>
                </nav>
    </div>

    <!-----md devices adaptation------>
    <div class="container d-lg-none">
        <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
            <h5 class="logoadapt h5" style="text-decoration: none" href="/home">Onboard Candidates</h5>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'frontend:my-activity' %}" >Ongoing tests</a>
                            <a class="dropdown-item" href="{% url 'projects:categories' %}">Create a test</a>
                            <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Source candidates</a>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a  href="/home" style="color: white" class="nav-link" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_logout' %}" style="color: white" class="nav-link" >Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a  href="{% url 'account_login' %}" style="color: white" class="nav-link" >Login</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_signup' %}" style="color: white" class="nav-link" >Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="d-none d-lg-block" style="margin-top: 8%">
        <div class="alert alert-primary" role="alert">
            Pricing is based on a 10 candidate package.


</div>

</div >

    <div class="d-lg-none"  style="margin-top: 7em">
        <div class="alert alert-primary" role="alert">
            Pricing is based on a 10 candidate package.


</div>

</div>
<div class="row">
    <div class="col-lg-8 col-md-8">
        <div style="margin-top: 3%;">
            <div class="card" style="box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);">
            {% if candidates %}
                <div class="card-body">
                    <h5>list of candidates</h5>
                    <table class="table table-hover">
                        <thead>

                        <tr>

                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for candidate in candidates %}

                        <tr>

                            <td>{{ candidate.first_name }}</td>
                            <td>{{ candidate.last_name }}</td>
                            <td> <span class="is-pulled-right">

                        </span></td>
                        </tr>
                        {% endfor %}




                        </tbody>
                    </table>
                    <div style="text-align: -webkit-center;">
                        <button disabled="" class="btn btn-info">Total Cost = ${{ total_amount }}</button>

                        <a href="{% url 'payments:pay' current_transaction.id  total_amount %}" class="btn btn-success">
                            Proceed to make Payment.</a>
                    </div>
                </div>
                {% else %}
                <div class="card-body">
                    <img src="{% static 'frontend/images/community.svg' %}" style="width: 50%;margin-left: 25%;margin-right: 25%">
                        <h6 class="text-center">Open call</h6>
                    <div style="text-align: -webkit-center;">
                        <button disabled="" class="btn btn-info">Total Cost = ${{ total_amount }}</button>

                        <a href="{% url 'payments:pay' current_transaction.id  total_amount %}" class="btn btn-success">
                            Proceed to make Payment.</a>
                    </div>
                </div>
            {% endif %}


            </div>
        </div>

    </div>

</div>


    <div>
        <img style="margin-top:-30%;width: 50%;margin-left:34% " src="/static/frontend/images/networking.svg" alt="Card image cap">
    </div>






</main>
{% endblock %}
