{% extends 'recruiterbase.html' %}
{% load bootstrap4 %}
{% block content %}
<main role="main" class="col-md-12 ml-lg-auto  col-lg-10 px-4 ">
    <div class="d-none d-lg-block">
        <nav class="navbar  navbar-light fixed-top fine border-bottom">
                    <h5 >Source Developers</h5>
        </nav>
    </div>

    <!-----md devices adaptation------>
    <div class="container d-lg-none">
        <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
            <h5 style="color: white">Source Developers</h5>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

            </div>
        </nav>
    </div>

<div class="d-none d-lg-block" style="margin-top: 8%">

</div >

<div class="d-lg-none"  style="margin-top: 5em">

</div>
<div class="row">
    <div class="col col-sm col-md col-lg-8">
        <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">Send</button>
    </form>

    </div>
</div>


    </main>
{% endblock %}