
button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    background: rgb(31, 159, 255);
}
span{
    display: block;
    padding: 25px 80px;
}
button::before, button::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #b706ff;
}

span::before, span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #14ffb9;
}
button:hover::before, button:hover::after{
    width: 100%;
}
button:hover span::before, button:hover span::after{
    height: 100%;
}

/*----- button 5 -----*/
.btn-5::after{
    left:0;
    bottom: 0;
    transition-duration: 0.4s;
}
.btn-5 span::after{
    right:0;
    top: 0;
    transition-duration: 0.4s;
}
.btn-5::before{
    right: 0;
    top: 0;
    transition-duration: 0.4s;
}
.btn-5 span::before{
    left: 0;
    bottom: 0;
    transition-duration: 0.4s;
}
