body {
    height: 100%;
    font-size: .875rem;
}
.homecard{
    width: 21rem;
}
.recruithomecard{
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius: 0;
    width: 15em;


}

.howcard{

    border-radius: 0;
}
.cardtext{
    text-align: center;

}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.card1 {

    width: 100%;
    border-radius: 8px;

}
.cardio{
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    height: 9.25rem;
    width: 79%;
}
.cardi1{
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    height: 9.25rem;
    background: #02b3e4 center center no-repeat;
    width: 80%;
}


.cardtitle1 {
    margin-top: 44px;


}
.categoriescard{
    width: 40%;
}


.cardtitle2 {
    margin-top: 19px;
}


.card2 {
    padding: 22px;
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);

}

.reportspace {
    margin-top: 40px;
}

.profficiencycard {
    height: 119px;
    max-width: 23%;
    margin-right: 10px;
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
}

.profficiencycardtitle {
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 8px;

}

.profficiencycardtext {
    margin-top: 23px;
    color: #000000
}

.cardno {
    /* position: relative; */
    /* display: -webkit-box; */
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-box-orient: vertical; */
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* min-width: 0; */
    /* word-wrap: break-word; */
    /* background-color: #fff; */
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: .25rem;*/
    height: 100%;
}
.cardno1 {
    /* position: relative; */
    /* display: -webkit-box; */
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-box-orient: vertical; */
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* min-width: 0; */
    /* word-wrap: break-word; */
    /* background-color: #fff; */
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: .25rem;*/

}

.image {
    height: 367px;
    width: 100%;
}

.createprojectcard {
    width: 100%;
}

.card-header1 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.03);

}

a, a:hover, a:focus {
    color: #000000;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.form-box {
    padding-top: 40px;
}

.f1 {
    padding: 25px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.f1 h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: -20px
}

.f1-progress {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #7d8cd4;
}

.f1-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #1cbcff;
}

.f1-step {
    position: relative;
    float: left;
    width: 16.6666667%;
    padding: 0 5px;
}

.f1-step-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    background: #7d8cd4;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.f1-step.activated .f1-step-icon {
    background: #fff;
    border: 1px solid #1cbcff;
    color: #1cbcff;
    line-height: 38px;
}

.f1-step.active .f1-step-icon {
    width: 48px;
    height: 48px;
    margin-top: 0;
    background: #1cbcff;
    font-size: 22px;
    line-height: 48px;
}

.f1-step p {
    color: #ccc;
}

.f1-step.activated p {
    color: #1cbcff;
}

.f1-step.active p {
    color: #1cbcff;
}

.f1 fieldset {
    display: none;
    text-align: left;
}

.f1-buttons {
    text-align: right;
}

.f1 .input-error {
    border-color: #000000;
}



.leo{
    border: 0px;
}

input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #ffffff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

textarea,
textarea.form-control {
    height: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
    color: #888;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
    color: #888;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
    color: #888;
}

label {
    font-weight: 300;
}

btn {
    min-width: 467px;
    height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #000000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

button.btn:hover {
    opacity: 0.6;
    color: #fff;
}

button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:focus,
button.btn:active:focus,
button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

button.btn.btn-next,
button.btn.btn-next:focus,
button.btn.btn-next:active:focus, button.btn.btn-next.active:focus {
    background: #1cbcff;
}

button.btn.btn-submit,
button.btn.btn-submit:focus,
button.btn.btn-submit:active:focus, button.btn.btn-submit.active:focus {
    background: #1cbcff;
}

button.btn.btn-previous,
button.btn.btn-previous:focus,
button.btn.btn-previous:active:focus, button.btn.btn-previous.active:focus {
    background: #4982ff;
}

/* Tabs panel */
.tabbable-panel {
    border: 1px solid #eee;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}

.nel {
    margin-top: -15px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 30px;
}

.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #4982ff;
    position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}

.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 133, 183, 0.76);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transition: .3s ease;
}

.container1:hover .overlay {
    transform: scale(1)
}

.text {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio-item {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.portfolio-item .portfolio-thumb img {
    height: auto;
    display: block;
    max-width: 100%;
}

.spaces {
    padding: 5px 30px;
}

.criteriaspaces {
    padding-top: 20px;;
    padding-bottom: 2px;
}

#biggestp {
    font-size: 50px;
}

#bigp {
    font-size: 20px;
}

#smallp {
    font-size: 13px;
}


.great{
    margin-top: -4%;
}
.great1{
    margin-top: 25%;
}

.gr{
    height: 100%;
}
.beer{
    height: 50%;
    width: 69%;
}
.soda{
    border-radius: 0px;
    border: 0px;
    color: white;
}
.pro{
    height: 100%;
}
.candi{
    flex-direction: row;
    padding-bottom: 22px;
    display: flex;

}
.candi1{
    border-bottom: none;
    border-right: 1px solid #dedfe0;
    padding: 28px 30px
}
.candi2{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 36px 0 22px;
}
.card7{
    border-radius: 0;

}
.card8 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}
.fley{
    padding-bottom: 2.5rem!important;
}
.fine{
    margin-left: 17%; background-color: white;

}
