asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.1.4
Django==1.11.14
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pycparser==2.19
pytz==2018.5
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
whitenoise==3.3.1
