{% extends 'recruiterbase.html' %}
{% load bootstrap4 %}
{% block title %}
    recruiter dashboard
{% endblock %}
{% load static %}
{% block content %}
    <main role="main" class="col-md-12 col-lg-10 ml-lg-auto   px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>Job listings</h5>
                <ul class="nav ml-auto">


                    {% if request.user.is_authenticated %}


                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/">Job listings</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sidebar menu options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'frontend:inprogress'%}">Ongoing
                                    Projects</a>
                                <a class="dropdown-item" href="/update_profile/">My profile</a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}

                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-none d-lg-block" style="margin-top: 6%">

        </div>
        <div class="d-lg-none" style="margin-top: 7em">

        </div>



        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job Title</th>
                <th scope="col">Company</th>

                <th scope="col">Candidates Applied</th>
                <th scope="col">Candidates Selected</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for job_detail in job_details %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td>{{ job_detail.0.title }}</td>
                    <td>{{ job_detail.0.company}}</td>

                    <td>{{ job_detail.1}}</td>
                    <td>{{ job_detail.2 }}</td>
                    <td>
                    <a href="{% url 'marketplace:recruiter_job_detail' job_detail.0.id %}">
                                Manage Job
                    </a>

                    </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>


    </main>

{% endblock %}