{% extends "account/base.html" %}
{%load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="container-fluid" style="margin-top: 5%">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-none d-lg-block mt-5">
                <div class="cardno great gr">
                    <div class="card-body">
                        <div class="h4">Forgot password</div>

                        <img class="beer" src="{%static 'frontend/images/ill/forgot.svg' %}">




                    </div>
                </div>


            </div>
            <div class="col-lg-4" style="margin-top: 5em">
                <h5>Password reset</h5>




               <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">E-mail</label>
            <input type="email" name="email" size="30"  class="form-control" title="" required="" id="id_email">
        </div>
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}"/>
    </form>




            </div>
        </div>


    </div>

</div>






{% endblock %}
