{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="d-none d-lg-block" style="margin-top: 8%">

        </div>

        <div class="d-lg-none" style="margin-top: 5em">

        </div>
    <div class="row" style="margin-right: 0;margin-left: 0">
    <div class="col-4" style="margin-left: auto;margin-right: auto">
         <h3 class="text-center">{% trans "Change successful" %}</h3>
    <p class="text-center">{% trans 'Your password is now changed.' %}</p>

    </div>
    </div>

{% endblock %}
