{% extends "account/base.html" %}
{%load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="d-none d-lg-block" style="margin-top: 8%">

        </div>

        <div class="d-lg-none" style="margin-top: 5em">

        </div>
    <div class="row" style="margin-right: 0;margin-left: 0">
    <div class="col-lg-4 col mt-4 mt-lg-1" style="margin-left: auto;margin-right: auto">
        <h5>{% trans "Password Reset" %}</h5>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
        minutes.{% endblocktrans %}</p>

    </div>

    </div>

{% endblock %}
