{% extends "account/base.html" %}


{% load i18n %}
{% block title %}
    Register
{% endblock %}
{%load static %}


{% block content %}
<div class="container-fluid" style="margin-top: 5%">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-none d-lg-block mt-5">
                <div class="cardno great gr">
                    <div class="card-body">
                        <div class="h4">Lets get you all set up</div>

                        <img class="beer" src="{%static 'frontend/images/ill/set.svg' %}">




                    </div>
                </div>


            </div>
            <div class="col-lg-4" style="margin-top: 3em">



                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label  for="id_first_name">First name</label>
                        <input type="text" name="first_name" class="form-control" placeholder="" maxlength="30" required="" id="id_first_name" autofocus>

                    </div>

                    <div class="form-group ">
                        <label for="id_last_name">Last name</label>

                            <input type="text" name="last_name" placeholder="" class="form-control" maxlength="30" required="" id="id_last_name">

                    </div>

                    <div class="form-group ">
                        <label  for="id_email">E-Mail Address</label>

                            <input type="email" name="email" class="form-control" placeholder="" required="" id="id_email">

                    </div>

                    <div class="form-group ">
                        <label  for="id_password1">Password</label>


                            <input class="form-control" type="password" name="password1" placeholder="" required="" id="id_password1">
                            <small id="passwordHelpInline" class="text-muted">
                                Must be 8-20 characters long.One Uppercase lowercase numeric.
                            </small>

                    </div>

                    <div class="form-group ">
                        <label  for="id_password2">Confirm Password</label>

                            <input class="form-control" type="password" name="password2" placeholder="" required="" id="id_password2">


                    </div>

                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}


                            <button type="submit" class="btn theme--dark primary px-4 " style="border-radius: 0;color: white">
                                Register
                            </button>

                </form>



            </div>
        </div>


    </div>

</div>
<!---lg to xl-->

<!---md to sm-->
<div class="container d-lg-none" style="margin-top: 7em">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">Registration</div>

                <div class="card-body">

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" for="id_first_name">First name</label>
                            <div class="col-md-6">
                                <input type="text" name="first_name" class="form-control" placeholder="" maxlength="30" required="" id="id_first_name" autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id_last_name" class="col-md-4 col-form-label text-md-right">Last name</label>
                            <div class="col-md-6">
                                <input type="text" name="last_name" placeholder="" class="form-control" maxlength="30" required="" id="id_last_name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" for="id_email">E-Mail Address</label>
                            <div class="col-md-6">
                                <input type="email" name="email" class="form-control" placeholder="" required="" id="id_email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" for="id_password1">Password</label>

                            <div class="col-md-6">
                                <input class="form-control" type="password" name="password1" placeholder="" required="" id="id_password1">
                                <small id="passwordHelpInline" class="text-muted">
                                    Must be 8-20 characters long.One Uppercase lowercase numeric.
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" for="id_password2">Confirm Password</label>
                            <div class="col-md-6">
                                <input class="form-control" type="password" name="password2" placeholder="" required="" id="id_password2">

                            </div>
                        </div>

                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn theme--dark primary px-4 " style="border-radius: 0;color: white">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
