{% extends "account/base.html" %}

{% load bootstrap4 %}
{% load i18n %}
{% block title %}
    Register
{% endblock %}
{%load static %}


{% block content %}
<div class="container-fluid" style="margin-top: 5%">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-none d-lg-block mt-5">
                <div class="cardno great gr">
                    <div class="card-body">
                        <div class="h4">Lets get you all set up</div>

                        <img class="beer mt-4" src="{%static 'frontend/images/ill/set.svg' %}" >




                    </div>
                </div>


            </div>
            <div class="col-lg-4" style="margin-top: 5em">
            <h5>Sign up</h5>



                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}


                            <button type="submit" class="btn theme--dark primary px-4 " style="border-radius: 0;color: white">
                                Register
                            </button>

                </form>



            </div>
        </div>


    </div>

</div>
<!---lg to xl-->

<!---md to sm-->



{% endblock %}
