{% extends 'recruiterbase.html' %}
{% load bootstrap4 %}
{% block title %}
    Candidate portolio
{% endblock %}
{% load static %}
{% block content %}
    <main role="main" class="col-md-12 col-lg-10 ml-lg-auto col-12  px-4 " xmlns="http://www.w3.org/1999/html">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>Candidate Portfolio</h5>
                <ul class="nav ml-auto">


                    {% if request.user.is_authenticated %}


                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/home">Portfolio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sidebar menu options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/">Dashboard</a>
                                <a class="dropdown-item" href="{% url 'frontend:buildproject' %}">Build a Project</a>
                                <a class="dropdown-item" href="{% url 'students:tests' %}">Skill assessment</a>
                                <a class="dropdown-item" href="{% url 'frontend:calltoapply' %}">Companies
                                    recruiting</a>
                                <a class="dropdown-item" href="/update_profile/">My profile</a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}

                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Log out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-none d-lg-block" style="margin-top: 6%">

        </div>
        <div class="d-lg-none" style="margin-top: 7em">

        </div>


        <!------show on smaller devices------>
        <div class="shadow-sm row p-3 portfo d-lg-none" style="height: 8rem">


            <div class="col-12 " style="text-align: -webkit-center">

                {% for key, value in json.items %}
                    {% if key == 'avatar_url' %}
                        <div style="width: 13rem;">

                                <svg class="card-img-top"
                                     style=""
                                     data-jdenticon-value=" {{ developer.first_name }} + {{ developer.last_name }} "
                                >
                                    developer name
                                </svg>
                            </div>
                    {% endif %}
                {% endfor %}
            </div>


        </div>
        <!------show on smaller devices------>
        <div class=" shadow-sm p-3 row d-lg-none" style="color: black;margin-top: 15%">

            <div class="col-lg-4 col-12 " style="">

                <p>Name: {{ developer.first_name }} {{ developer.last_name }}</p>
                <p>email: {{ developer.email }}</p>
                <p>Linkedin profile: {{ developer.profile.linkedin_url }}</p>
                <p>Preffered work type: {{ developer.profile.availabilty }}</p>

            </div>
            <div class="col-lg-4 col-12 ">
                <div data-toggle="tooltip" data-placement="top" title="Based on Taken and passed quizzes">Verified
                    Skills <span data-feather="help-circle"></span></div>
                {% if skills %}
                    {% for skill in skills %}
                        <span class="badge btn-primary" style="background-color: #b627a1">{{ skill }}</span>
                    {% endfor %}
                {% else %}
                    <span class="badge btn-primary" style="background-color: #28bbbb">Take an assessment quiz</span>
                {% endif %}

            </div>

        </div>

        <div class="row ">
            <div class="col-lg-4" style="position: fixed">
                <div class="shadow-sm p-3  mb-5 " style="width: 80%">
                    {% for key, value in json.items %}
                        {% if key == 'avatar_url' %}
                            <div style="width: 13rem;">

                                <svg class="card-img-top"
                                     style=""
                                     data-jdenticon-value=" {{ developer.first_name }} + {{ developer.last_name }} "
                                >
                                    developer name
                                </svg>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <h5>Bio</h5>
                    <hr>

                    <p class="text-muted">{{ candidate.about }}</p>

                    <p class="font-weight-bold">Technologies used</p>
                    <small class="form-text text-muted">Based on github activity</small>
                    {% for key,value in c.items %}
                        {% if key != None %}
                        <span class="badge badge-pill badge-primary">{{ key }}</span>
                        {% endif %}

                    {% endfor %}


                    <p >Preferred work type : <span class="">{{ developer.profile.availabilty }}</span></p>
                <a style="text-decoration: none"
               href="{% url 'marketplace:process_payment' developer.id %}"><span
                    class="btn-sm btn-primary ">Pick Candidate</span></a>

                </div>





            </div>
            <div class="col-lg-8" style="margin-left: 33%">


                <div class="shadow-sm p-3 mb-5">

                    <h5> Verified skills</h5>
                    <small class="form-text text-muted">Based on tests taken on codeln</small>


                    <hr>

                    {% if skills %}
                        {% for skill in skills %}
                            <span class="badge btn-primary" style="background-color: #b627a1">{{ skill }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="badge btn-primary" style="background-color: #28bbbb">Candidate hasn't taken any tests</span>
                    {% endif %}


                </div>
                <!------ projects------>
                <div class="shadow-sm  p-3 mb-5 ">

                    <h5>Past Projects</h5>


                    <hr>

                    {% if verified_projects %}
                        {% for verified_project in verified_projects %}
                            <div>
                                <p class="font-weight-bold">{{ verified_project.title }}</p>
                                <p class="text-muted">
                                    {{ verified_project.description }}
                                </p>

                                <p><a target="_blank" href="{{ verified_project.demo_link }}">See Project</a></p>
                                <hr>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center">No projects onboarded or verified</div>
                    {% endif %}


                </div>


                <!------ work experiences------>
                <div class="shadow-sm p-3  mb-5  mt-5">

                    <h5>Work experience</h5>


                    <hr>


                    {% if experiences %}
                        {% for experience in experiences %}
                            <div>
                                <p> {{ experience.title|capfirst }}
                                <p><span data-feather="briefcase"></span>  {{ experience.company|capfirst }}
                                      <span data-feather="calendar"></span>  {{ experience.duration }} months
                                      <span data-feather="map-pin"></span>  {{ experience.location.name }}</p>
                                <p class="text-muted">{{ experience.description }}</p>
                                <hr>
                            </div>

                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center">No experience added yet</div>
                    {% endif %}


                </div>

                <!------github------>
                <div class="shadow-sm p-3  mb-5  mt-5">
                    <h5 >Github Activity</h5>
                    <hr>
                    <div class="row">
                        {% for repo in repos %}

                            <div class="col-lg-3 col-6">
                                <div class="card mt-2 ml-2 mb-2" style="border-radius: 0;height: 6rem;">
                                    <div class="">
                                        {% for key, value in repo.items %}

                                            {% if key == 'name' %}
                                                <div style="background-color: #c0f1e2;padding: 1%">
                                                    <p class="ml-2 mt-1"><span data-feather="github"></span> {{ value }}
                                                    </p>
                                                </div>
                                            {% endif %}



                                            {% if key == 'language' %}
                                                <div style="padding: 1%;">
                                                    <p class="ml-2"><span data-feather="code"></span> {{ value }}</p>
                                                </div>

                                            {% endif %}





                                        {% endfor %}
                                    </div>

                                </div>


                            </div>
                        {% endfor %}

                    </div>

                    <div class="d-flex justify-content-center mt-2">
                        <div class="pagination">
    <span class="step-links">
    <ul class="pagination">

        {% if repos.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ repos.previous_page_number }}">previous</a>
            </li>
        {% endif %}

        <li class="page-link">
        <span class="current">

            Page {{ repos.number }} of {{ repos.paginator.num_pages }}.

        </span>
        </li>

        {% if repos.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ repos.next_page_number }}">next</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ repos.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% endif %}
        </li>
    </ul>
    </span>
                        </div>
                    </div>

                </div>


            </div>
        </div>


    </main>
{% endblock %}
