{% extends 'recruiterbase.html' %}

{% load bootstrap4 %}
{% block title %}
    recruiter dashboard
{% endblock %}

{% load static %}

{% block content %}
    <main role="main" class="col-md-12 ml-lg-auto  col-lg-10 px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" id="myInput" placeholder="Search" aria-label="Search">

    </form>
                <ul class="nav ml-auto">



                    {% if request.user.is_authenticated %}



                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>

            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'frontend:my-activity' %}">Ongoing tests</a>
                                <a class="dropdown-item" href="{% url 'projects:categories' %}">Create a test</a>
                                <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Source candidates</a>
                                {% if request.user.is_staff %}

                                    <a class="dropdown-item"
                                       href="{% url 'frontend:onboardrecruiters' %}">recruiters</a>
                                {% endif %}
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="/home" style="color: white" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="d-none d-lg-block" style="margin-top: 8%">
        </div>
        <div class="d-lg-none" style="margin-top: 5em">
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row mb-2">

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="container" id=myGroup>
                            {% for dev in developers %}

                                <div class="card mb-2 shadow-lg  " style="border-radius: 0;; " id="mycard">

                                    <a data-toggle="modal" style="color: black;text-decoration: none"
                                       data-target="#{{ dev.id }}" href="#{{ dev.id }}" role="button"
                                       aria-expanded="false" aria-controls="{{ dev.id }}">

                                        <div class="card-body">
                                            <p class="card-title"> {{ dev.first_name|capfirst }}</p>
                                            <p style="">Bio</p>

                                            <p class="pedit smalle">{{ dev.profile.about|truncatechars:150 }}
                                            </p>
                                            <p>
                                                <span data-feather="codepen"> </span>

                                                {% if dev.profile.profile_tags.0 == 'reactjs' %}

                                                    <span class="badge text-white"
                                                          style="background-color: #007bff">Reactjs</span>
                                                {% endif %}
                                                {% if dev.profile.profile_tags.1 == 'vuejs' %}
                                                    <span class="badge text-white"
                                                          style="background-color: #a6c!important">Vuejs</span>
                                                {% endif %}
                                                {% if dev.profile.profile_tags.2 == 'angularjs' %}
                                                    <span class="badge text-white"
                                                          style="background-color: #00c851!important">Angular</span>
                                                {% endif %}
                                                {% if dev.profile.profile_tags.8 == 'android' %}
                                                    <span class="badge text-white"
                                                          style="background-color: #33b5e5!important">Android</span>
                                                {% endif %}
                                                {% if dev.profile.profile_tags.3 == 'expressjs' %}
                                                    <span class="badge text-white"
                                                          style="background-color: #b627a1">Express js</span>
                                                {% endif %}


                                            </p>

                                        </div>

                                    </a>

                                </div>
                                <div class="modal right fade" id="{{ dev.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel2">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">


                                            <div class="modal-body">
                                                <h5>Bio</h5>
                                                <hr>
                                                <p>{{ dev.profile.about }}
                                                </p>
                                                <!------ projects------>
                                                <div class="shadow-sm  p-3 mb-5 ">

                                                    <h5>Past Projects</h5>


                                                    <hr>


                                                    {% for verified_project in projects %}
                                                        {% if verified_project.candidate == dev %}
                                                            <div>
                                                                <p class="font-weight-bold">{{ verified_project.title }}</p>
                                                                <p class="text-muted">
                                                                    {{ verified_project.description }}
                                                                </p>

                                                                <p><a target="_blank"
                                                                      href="{{ verified_project.demo_link }}">See
                                                                    Project</a></p>
                                                                <hr>
                                                            </div>
                                                        {% endif %}

                                                    {% endfor %}


                                                </div>
                                                <!------ work experiences------>
                                                <div class="shadow-sm p-3  mb-5  mt-5">

                                                    <h5>Work experience</h5>


                                                    <hr>



                                                    {% for experience in experiences %}
                                                        {% if experience.candidate == dev %}
                                                            <div>
                                                                <p> {{ experience.title|capfirst }}
                                                                <p><span
                                                                        data-feather="briefcase"></span> {{ experience.company|capfirst }}
                                                                    <span data-feather="calendar"></span> {{ experience.duration }}
                                                                    months
                                                                    <span data-feather="map-pin"></span> {{ experience.location.name }}
                                                                </p>
                                                                <p class="text-muted">{{ experience.description }}</p>
                                                                <hr>
                                                            </div>
                                                        {% endif %}


                                                    {% endfor %}


                                                </div>

                                            </div>

                                        </div><!-- modal-content -->
                                    </div><!-- modal-dialog -->
                                </div>

                            {% endfor %}

                        </div>

                    </div>

                </div>


            </div>


            <div class="col-3" >

                     <div class="mt-3" style="position: fixed">
                            <p class="text-muted text-center">TESTIMONIALS</p>
                            <div class="shadow-sm p-3 mb-2" style="font-size: 14px;">

                                <blockquote class="text-center">
                                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                        posuere
                                        erat a
                                        ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                        Title</cite></footer>
                                </blockquote>
                            </div>
                            <div class="shadow-sm p-3 mb-2" style="font-size: 14px;">

                                <blockquote class="text-center">
                                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                        posuere
                                        erat a
                                        ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                        Title</cite></footer>
                                </blockquote>
                            </div>
                            <div class="shadow-sm p-3 mb-2" style="font-size: 14px;">

                                <blockquote class="text-center">
                                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                        posuere
                                        erat a
                                        ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                        Title</cite></footer>
                                </blockquote>
                            </div>

                        </div>







            </div>
        </div>


    </main>



{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myGroup #mycard").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

        });
    </script>

{% endblock %}
