{% extends 'recruiterbase.html' %}

{% load bootstrap4 %}
{% block title %}
    recruiter dashboard
{% endblock %}

{% load static %}
{% block content %}
    <main role="main" class="col-md-12 ml-lg-auto  col-lg-10 px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>
                    My Developers

                </h5>
                <ul class="nav ml-auto">




                    {% if request.user.is_authenticated %}



                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'frontend:my-activity' %}">Ongoing tests</a>
                                <a class="dropdown-item" href="{% url 'projects:categories' %}">Create a test</a>
                                <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Source candidates</a>
                                {% if request.user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'frontend:onboarddevs' %}">devs</a>
                                    <a class="dropdown-item"
                                       href="{% url 'frontend:onboardrecruiters' %}">recruiters</a>
                                {% endif %}
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="/home" style="color: white" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="d-none d-lg-block" style="margin-top: 8%">
        </div>
        <div class="d-lg-none" style="margin-top: 5em">
        </div>

        



        <div class="row">
            {% for dev in developers %}

                <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 28rem">
                        <div>
                            <div class="row" style="margin-top: -4%;margin-bottom: -4%;margin-left: -4%;">
                                <div class="col-4" style="background-color: aliceblue">
                                    <svg class=""
                                         style=""
                                         data-jdenticon-value=" {{ dev.first_name }} + {{ dev.last_name }} "
                                    >
                                        developer name
                                    </svg>
                                    <p class="card-caption"><span
                                            data-feather="user"> </span>: {{ dev.first_name }} {{ dev.last_name|truncatechars:2 }}
                                    </p>
                                    <p><span data-feather="briefcase"> </span>: {{ dev.profile.availabilty }}</p>


                                </div>
                                <div class="col-8">
                                    <div class="table">
                                        <p class="card-description" style="margin-top: 3%">Bio
                                            <br>{{ dev.profile.about|truncatechars:150 }}
                                        </p>
                                        <p>
                                            <span data-feather="codepen"> </span>

                                            {% if dev.profile.profile_tags.0 == 'reactjs' %}

                                                <span class="badge text-white"
                                                      style="background-color: #007bff">Reactjs</span>
                                            {% endif %}
                                            {% if dev.profile.profile_tags.1 == 'vuejs' %}
                                                <span class="badge text-white" style="background-color: #a6c!important">Vuejs</span>
                                            {% endif %}
                                            {% if dev.profile.profile_tags.2 == 'angularjs' %}
                                                <span class="badge text-white"
                                                      style="background-color: #00c851!important">Angular</span>
                                            {% endif %}
                                            {% if dev.profile.profile_tags.8 == 'android' %}
                                                <span class="badge text-white"
                                                      style="background-color: #33b5e5!important">Android</span>
                                            {% endif %}
                                            {% if dev.profile.profile_tags.3 == 'expressjs' %}
                                                <span class="badge text-white" style="background-color: #b627a1">Express js</span>
                                            {% endif %}


                                        </p>


                                    </div>
                                    <a class="btn-sm btn-primary " style="text-decoration: none;margin-top: 2%"
                                       href="{% url 'marketplace:paid_dev_details' dev.id  %}">See more</a>


                                </div>

                            </div>
                        </div>

                    </div>
            {% endfor %}

        </div>


    </main>




{% endblock %}