{% extends 'base.html' %}
{% block content %}
    <div class="modal modal--is-active w3-padding-64">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Make Payment</p>
            </header>
            <section class="modal-card-body">
                <h1>pay using PayPal</h1>
                {{ form.render }}
            </section>
{#            <footer class="modal-card-foot">#}
{#                <button class="button is-info">Total Cost = {{ total_amount }}</button>#}
{#                <a href="{% url 'payments:pay' current_transaction.id %}" class="button is-success">#}
{#                    Proceed to make Payment.</a>#}
{#            </footer>#}
        </div>
    </div>
    <script src="/node_modules/bulma-extensions/bulma-calendar/dist/divider.min.js"></script>
{% endblock %}
