{% extends 'base.html' %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div class="modal modal--is-active w3-padding-64">
        <div class="modal-background"></div>
        <div class="modal-card">
            {#            <header class="modal-card-head">#}
            {#                <p class="modal-card-title">Make Payment</p>#}
            <header class=" modal-card-head tabs is-centered w3-light-gray">
                <ul>
                    <li class="modal-card-title"><a>Use Flutterwave</a></li>
                </ul>
            </header>
            {#            </header>#}
{#            <section id="paypal" class="modal-card-body letab" style="display: block">#}
{#                <h1>pay using PayPal</h1>#}
{#                {{ form.render }}#}
{#            </section>#}
            <section class="modal-card-body ">
                <h1>Use Flutterwave</h1>
                <form>
                    <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                    <script src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                    <button type="button" onClick="payWithRave('{{ amount }}')">Pay Now
                    </button>
                </form>
            </section>
        </div>
    </div>

    <script>
        {#function openTab(tabName) {#}
        {#    var i;#}
        {#    var x = document.getElementsByClassName('letab');#}
        {#    for (i = 0; i < x.length; i++) {#}
        {#        x[i].style.display = "none"#}
        {#    }#}
        {#    document.getElementById(tabName).style.display = "block";#}
        {#}#}

        const API_publicKey = "FLWPUBK-37320275f784b16ec1e30b1342c0a223-X";
        const SuccessUrl = '{% url 'payments:flutter-done' transaction.id %}';
        {#const CancelledUrl = window.location.origin + '{% url 'payments:canceled' transaction.id%}'#}

        function payWithRave(amnt) {
            console.log(amnt);
            var x = getpaidSetup({
                PBFPubKey: API_publicKey,
                customer_email: '{{ transaction.user.email }}',
                amount: amnt,
                customer_phone: "234099940409",
                currency: "USD",
                payment_method: "both",
                txref: {{ transaction.id }},
                meta: [{
                    metaname: "flightID",
                    metavalue: "AP1234"
                }],
                onclose: function () {
                    console.log('closed');
                    console.log(SuccessUrl);
                },
                callback: function (response) {
                    var txref = response.tx.txRef; // collect txRef returned and pass to a 					server page to complete status check.
                    console.log("This is the response returned after a charge", response);
                    if (
                        response.tx.chargeResponseCode === "00" ||
                        response.tx.chargeResponseCode === "0"
                    ) {

                        window.location.href = SuccessUrl;
                    } else {
                        // redirect to a failure page.
                        console.log('failed');
                        console.log(SuccessUrl);
                    }

                    x.close(); // use this to close the modal immediately after payment.
                }
            });
        }
    </script>
{% endblock %}
