body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    background: #d6d6d6;
}

/*h1, h2, h3, h4, h5, h6 {*/
/*color: #007bff;*/
/*}*/

#content {
    float: left;
    width: 60%;
    padding: 0 0 0 10px;
    position: relative;
    top: 80px;
    left: 32px;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #ffffff;
    height: 100%;
    position: relative;
    top: 80px;
    right: 32px;
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    #sidebar {
        right: 8px;
    }
}

p.date {
    font-family: georgia, serif;
    font-size: 16px;
    font-style: italic;
}

p.tags {
    font-family: georgia, serif;
    font-size: 16px;
    font-weight: bold;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}