{% extends "socialaccount/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container w3-container">
        <div class="columns is-centered">
            <div class="column is-half is-narrow">
                <h1>{% trans "Sign Up" %}</h1>

                <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to
                    use your {{ provider_name }} account to login to
                    {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <div class="control">
                                {% if field.label == 'E-mail' %}
                                    <label for="" class="label">E-mail:</label>
                                    {{ field|add_class:"input"|attr:"type:email" }}
                                    {% if field.errors %}
                                        <div class="w3-text-red w3-padding w3-border w3-margin-top w3-light-grey">{{ field.errors }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="button" type="submit">{% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>

    </div>



{% endblock %}
