{% extends 'base3.html' %}
{% block title %}
index
{% endblock %}
{%load static %}
{% block content %}

<!---- Hero image intro----->
    <div class="jumbotron jumbotrondev d-none d-sm-block">
        <div class="container">
          <div class="mt-5">

            <div class="display-2 h1 text-center d-none d-lg-block " style="color: white">Get hired for your skill</div>

            <div class="subheading d-none d-lg-block text-center">We Validate and Verify Skills using Real World Projects.</div>
            <!----for md to sm---->
              <div class="d-lg-none h5 text-center" style="color: white;margin-top: 4em;">Get hired for your skill.</div>

            <!----for lg to xl---->
              <p class="text-center mt-3">
                  <button type="button" onclick="location.href='accounts/login';" value="Go to login" class="btn theme--dark primary " style="border-radius: 0;margin: auto">
                <div class="btn__content" href="/accounts/login/">
                Get started
                </div>
            </button>
              </p>



        </div>
        </div>
      </div>
    <div class="jumbotron jumb ">
        <div class="container">
          <div class="mt-5">

            <div class="display-2 h1 text-center d-none d-lg-block " style="color: white">Get hired for your skill</div>

            <div class="subheading d-none d-lg-block text-center">We Validate and Verify Skills using Real World Projects.</div>
            <!----for md to sm---->
              <div class="d-lg-none h5 text-center" style="color: white;margin-top: 4em;">Get hired for your skill.</div>

            <!----for lg to xl---->
              <p class="text-center mt-3">
                  <button type="button" onclick="location.href='accounts/login';" value="Go to login" class="btn theme--dark primary " style="border-radius: 0;margin: auto">
                <div class="btn__content" href="/accounts/login/">
                Get started
                </div>
            </button>
              </p>



        </div>
        </div>
      </div>
<!-----how it works------->
    <div class="position-relative overflow-hidden ">
    <section>
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h3">
            How it Works

        </div>

    </div>
    <div class="row d-flex justify-content-center " style="margin-top: 2%;margin-left: 0;margin-right: 0">


        <div class="col-lg-3 col-md-6 col-xl-3" style="margin-bottom: 2%;">
            <div class="row productcard p-1" style="margin-right: 0;margin-left: 0">
                <div class="col-4 d-none d-xl-block" >
                    <img class="img-fluid mt-xl-5 " style="margin-right: auto;margin-left: auto" src="../../static/frontend/images/computer.svg" alt="Card image cap">


                </div>
                <div class="col">

                    <h6  style="margin-top: 10%">Pretest process</h6>
                    <p class="">This stage will test your basic understanding
                        of the tech stacks you selected on your profile
                    </p>
                    <p></p>


                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xl-3" style="margin-bottom: 2%;">
            <div class="row productcard p-1" style="margin-right: 0;margin-left: 0" >
                <div class="col-4 d-none d-xl-block" >
                    <img class="img-fluid mt-xl-5 " style="margin-right: auto;margin-left: auto" src="../../static/frontend/images/coding.svg" alt="Card image cap">

                </div>
                <div class="col">
                    <h6  style="margin-top: 10%">Build a real world project</h6>
                    <p class="card-text ">After a successful pretest, you will be assigned a project to build on our workspace.
                    </p>
                    <p></p>

                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xl-3" style="margin-bottom: 2%;">
            <div class="row productcard p-1" style="margin-right: 0;margin-left: 0">
                <div class="col-4 d-none d-xl-block" >
                    <img class="img-fluid mt-xl-5 " style="margin-right: auto;margin-left: auto" src="../../static/frontend/images/diploma.svg" alt="Card image cap">


                </div>
                <div class="col">
                    <h6  style="margin-top: 10%">Certification</h6>
                    <p class="">We offer Certificates of Merit for excellent performance, these Certificates are accepted by our Clients and Partners.
                    </p>
                    <p></p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xl-3" style="margin-bottom: 2%;">
            <div class="row productcard p-1" style="margin-right: 0;margin-left: 0" >
                <div class="col-4 d-none d-xl-block" >
                    <img class="img-fluid mt-xl-5 " style="margin-right: auto;margin-left: auto" src="../../static/frontend/images/notify.svg" alt="Card image cap">

                </div>
                <div class="col">
                    <h6 style="margin-top: 10%">Job matching</h6>
                    <p class="card-text ">Finally, we match successful candidates to local and international job
                        openings that match their skills and taste.
                    </p>
                    <p></p>

                </div>

            </div>
        </div>


    </div>
    </section>
    </div>

      <!--benefits-->
    <div class="position-relative overflow-hidden mt-5  ">

    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h3">
            Benefits
        </div>
    </div>
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-5 d-none d-lg-block">
            <div class="card noed">
                <img class="card-img-top yum text-center" src="../../static/frontend/images/ill/dev.svg" alt="Card image benefits">

            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                    <div class="card noed text-center" style="">
                        <div class="card-body">
                            <div>
                                <img class="text-center  benefit img-fluid " src="../../static/frontend/images/briefcase.svg" alt="Card image cost">
                            </div>
                            <h6 class="card-subtitle mb-2 font-weight-bold ">Build a Portfolio</h6>
                            <p class="card-text text-muted">
                                CodeLn helps you build a portfolio of projects for free!
                                We offer an online user-friendly IDE where you can build a project
                                completely from scratch to test your coding skills.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                    <div class="card noed text-center" style="">
                        <div class="card-body">
                            <div>
                                <img class="text-center  benefit img-fluid" src="../../static/frontend/images/certificate.svg" alt="Card image time">
                            </div>
                            <h6 class="card-subtitle mb-2 font-weight-bold  ">Certification  </h6>
                            <p class="card-text text-muted">
                                We conduct code analysis and give you a detailed report about
                                the quality of your code and areas to improve upon. Our certificate verifies your
                                coding skills and it is accepted by Employers.

                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                    <div class="card noed text-center" style="">
                        <div class="card-body">
                            <div>
                                <img class="text-center  benefit img-fluid" src="../../static/frontend/images/job.svg" alt="Card image skills">
                            </div>
                            <h6 class="card-subtitle mb-2 font-weight-bold  ">Job Matching</h6>
                            <p class="card-text text-muted">
                                Get matched to jobs of your choice.
                                We connect you to local and international jobs across different position types:
                                full-time, part-time, remote jobs, freelance, gigs etc.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                    <div class="card noed text-center" style="">
                        <div class="card-body">
                            <div>
                                <img class=" benefit img-fluid" src="../../static/frontend/images/students.svg"
                                     alt="Card image quality">
                            </div>
                            <h6 class="card-subtitle mb-2 font-weight-bold  ">Community</h6>
                            <p class="card-text text-muted">
                                Get access to a community of recruiters across the world,
                                understand the job requirements in different markets,
                                receive interview tips from recruiters and land your dream job.

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
<!-----testimonials------>
    <div class="mt-5">
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h3">
            Testimonials
        </div>
    </div>
    <div class="row" style="margin-top: 2%;margin-left: 0;margin-right: 0">
        <div class="col-lg-6 col-md-6 col-xl-6" style="margin-bottom: 2%;margin-left:auto;margin-right:auto;text-align: -webkit-center;">
            <blockquote class="blockquote text-center">
                <p class="mb-0">
                    “I hadn't even heard of 'CodeLn' prior to being contacted by them.
                    Someone just linked me up, and through them I was able to not only get a chance to serve a client
                    I had never met, but also get paid doing it as well, and on time too! I'm pleasantly surprised!”
                </p>
                <footer class="blockquote-footer">Deolu A. </footer>
            </blockquote>


        </div>
        <div class="col-lg-6 col-md-6 col-xl-6" style="margin-bottom: 2%;margin-right:auto;text-align: -webkit-center;">
            <blockquote class="blockquote text-center">
                <p class="mb-0">"Initially, I had doubts about CodeLn until I received an email with a freelance job offer and everything changed.
                    My financial status improved and I gained experience as a Developer." </p>
                <footer class="blockquote-footer">Sherifdeen A. </footer>
            </blockquote>


        </div>


    </div>
    </div>

    <!--call to action how it works-->
    <div class="position-relative overflow-hidden text-center jumbo2 jumbotron ">
            <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 2%">
        <div class="col-md col-lg col-xl text-center" style="margin-left: auto;margin-right: auto">
            <p class="h4">Are you a university student? Apply to be a CodeLn Ambassador.

                <br>
                <a class="btn theme--dark primary1 mt-3 " target="_blank" style="border-radius: 0;color: white" href="https://goo.gl/forms/mIWJx26X36DNNkAa2">Apply</a>

            </p>

        </div>

    </div>
    </div>


    <!--footer-->
    <footer class="jumbotron jumbofoot">
    <div class="container">
        <div class="row">

        <div class="col-6 col-md">
          <h5>Menu</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/pricing">Pricing</a></li>
            <li><a class="text-muted" href="/accounts/login/">Testing</a></li>
            <li><a class="text-muted" href="{% url 'transactions:sourcing' %}">Sourcing</a></li>
              <li><a class="text-muted" href="/dev">Developer</a></li>

          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Company</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/privacy">Privacy</a></li>
            <li><a class="text-muted" href="/terms">Terms</a></li>


          </ul>
        </div>
        <div class="col col-md">
          <h5>Contact</h5>
          <ul class="list-unstyled text-small">
              <li>
              <a href="mailto:info@codeln.com" target="_top">
                  <i><span data-feather="mail"></span> </i>
              </a>
              <li>
                <a class="text-muted" href="https://www.linkedin.com/company/codeln/" target="_blank">
                <i><span data-feather="linkedin"></span></i>
                </a>
            </li>
            <li>
                <a class="text-muted" href="https://twitter.com/Codeln_spaces" target="_blank">
                <i><span data-feather="twitter"></span></i>
                </a>
            </li>
            <li>
                <a class="text-muted" href="https://www.facebook.com/CodelnSpaces/" target="_blank">
                <i><span data-feather="facebook"></span></i>
                </a>
            </li>

          </ul>
        </div>

      </div>
    </div>
</footer>
{% endblock %}