{% extends 'base3.html' %}
{% block title %}
index
{% endblock %}
{%load static %}
{% block content %}

<!---- Hero image intro----->
<div class="jumbotron1 theme--dark d-none d-lg-block" style="height: 30vmax;">
    <div class="jumbotron1__wrapper"><img src="../../static/frontend/images/dev.jpg" class="jumbotron1__image">
        <div class="jumbotron1__background"
             style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));"></div>
        <div class="hero-text">

            <div class="display-2 h1 d-none d-lg-block" style="color: white" >Get hired for your skill.</div>

            <div class="d-lg-none h5" style="color: white;margin-top: 2em;" >Get hired for your skill.</div>

            <div class="subheading d-none d-lg-block">We Verify and Certify Skills using Real World Projects</div>

            <button type="button"  onclick="location.href='accounts/login';" value="Go to login" class="btn theme--dark primary px-4 mt-5" style="border-radius: 0"><div class="btn__content"href="{% url 'account_login' %}">
                Get started
            </div></button>

        </div>

    </div>
</div>

<div class="jumbotron1 theme--dark d-lg-none" style="height: 40vmax;">
    <div class="jumbotron1__wrapper"><img src="../../static/frontend/images/dev.jpg" class="jumbotron1__image">
        <div class="jumbotron1__background"
             style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));"></div>
        <div class="hero-text">

            <div class="display-2 h1 d-none d-lg-block" style="color: white" >Get hired for your skill.</div>

            <div class="d-lg-none h5" style="color: white;margin-top: 2em;" >Get hired for your skill.</div>

            <div class="subheading d-none d-lg-block">We Validate and Verify Skills using Real World Projects</div>

            <button type="button"  onclick="location.href='accounts/login';" value="Go to login" class="btn theme--dark primary px-4 mt-5" style="border-radius: 0"><div class="btn__content"href="{% url 'account_login' %}">
                Get started
            </div></button>

        </div>

    </div>
</div>
<!---how it works---->
<section class="jumbotron jumbo7">
    <div class="row">
        <div class="col-lg-12 text-center h2">
            How it works
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-3" style="margin-bottom: 2%;margin-left:auto;text-align: -webkit-center;">
            <div class="card" style="width: 18rem;border: 0">
                <img class="card-img-top product"  src="../../static/frontend/images/computer.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pre vet process</h5>
                    <p class="card-text">This stage will test the basic skills based on
                        languages candidate selected as part of his/her profile</p>

                </div>
            </div>

        </div>
        <div class="col-lg-3" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card" style="width: 18rem;border: 0">
                <img class="card-img-top product" src="../../static/frontend/images/coding.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Build a Real world project</h5>
                    <p class="card-text">After a successful prevet you will build a real world
                        project in a monitored online workspace.</p>

                </div>
            </div>

        </div>
        <div class="col-lg-3" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card" style="width: 18rem;border: 0">
                <img class="card-img-top product" src="../../static/frontend/images/diploma.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Certification</h5>
                    <p class="card-text">Certificates are awarded to projects that merit.These can be used to easily prove your skills
                        to our partner companies </p>

                </div>
            </div>

        </div>

        <div class="col-lg-3" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card" style="width: 18rem;border: 0">
                <img class="card-img-top product" src="../../static/frontend/images/notify.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Job matching</h5>
                    <p class="card-text">Codeln will continuously notify you of job openings that fit your profile and will
                    readily recommend you</p>

                </div>
            </div>

        </div>

    </div>



</section>
<!---developer benefits---->
<section class="jumbotron jumbo7">
    <div class="row">
        <div class="col-lg-12 text-center h2">
            Developer benefits
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 ">
            <div class="card noed">
                <img class="card-img-top yum mt-5" src="../../static/frontend/images/ill/dev.svg" alt="Card image cap">

            </div>
        </div>
        <div class="col-lg-7">
            <div class="row how2 ">
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit  " src="../../static/frontend/images/briefcase.svg" alt="Card image cap">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Build a Portfolio</h6>
                            <p class="card-text text-muted">
                                CodeLn helps you build a portfolio of projects for free! We offer an online user-friendly IDE where you can build a project completely from scratch to test your coding skills.

                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/certificate.svg" alt="Card image cap">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Certification </h6>
                            <p class="card-text text-muted">
                                We conduct code analysis and give you a detailed report about the quality of your code and areas to improve upon. Our certificate verifies your coding skills and it is accepted by Employers.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row how2">
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/job.svg" alt="Card image cap">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Job Matching</h6>
                            <p class="card-text text-muted"> get matched of your choice. We connect you to local and international jobs across different position types: full-time, part-time, remote jobs, freelance, gigs etc</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/students.svg" alt="Card image cap">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Community</h6>
                            <p class="card-text text-muted">Get access to a community of recruiters across the world, understand the job requirements in different markets, receive interview tips from recruiters and land your dream job
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>
<!----Testimonials---->
<section class="jumbotron jumbo7">
    <div class="row">
        <div class="col-lg-12 text-center h2">
            Testimonials
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-6" style="margin-bottom: 2%;margin-left:auto;margin-right:auto;text-align: -webkit-center;">
            <blockquote class="blockquote text-center">
                <p class="mb-0">
                    “I hadn't even heard of 'Codeln' prior to being contacted by them.
                    Someone just linked me up, and through them I was able to not only get a chance to serve a client
                    I had never met, but also get paid doing it as well, and on time too! I'm pleasantly surprised!”
                </p>
                <footer class="blockquote-footer">Deolu A. </footer>
            </blockquote>


        </div>
        <div class="col-lg-6" style="margin-bottom: 2%;margin-right:auto;text-align: -webkit-center;">
            <blockquote class="blockquote text-center">
                <p class="mb-0">"Initially, I had doubts about CodeLn until I received an email with a freelance job offer and everything changed.
                    My financial status improved and I gained experience as a Developer" </p>
                <footer class="blockquote-footer">Sherifdeen A. </footer>
            </blockquote>


        </div>


    </div>



</section>

<!--Call to action student ambassodors-->
<section class="jumbotron jumbo2" style="padding-bottom: 7%;padding-top: 2%;">
    <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 2%">
        <div class="col-md-6 col-lg-6 col-xl-6 text-center" style="margin-left: auto;margin-right: auto">
            <p class="h3">Are you a university student? Apply to be a CodeLn Ambassador
                <br>
                <a class="btn theme--dark primary1 mt-3 " style="border-radius: 0;color: white;width: 20%" href="{% url 'account_signup' %}">Apply</a>

            </p>

        </div>

    </div>
</section>






<!--footer-->
<footer class="jumbotron jumbofoot"  >
    <div class="container">
        <div class="row">
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Products</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/pair">Pair programming</a></li>
                    <li><a class="colorlink" href="/video">Video proctor</a></li>

                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Company</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/about">About us</a></li>
                    <li><a class="colorlink" href="/careers">Careers</a></li>
                    <li><a class="colorlink" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Resources</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="#">Contact us</a></li>
                    <li><a class="colorlink" href="#">Help center</a></li>

                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Follow</h3>
                <ul class="directory-items list-unstyled">
                    <li>
                        <a href="https://twitter.com/Codeln_spaces" target="_blank">
                            <i><span data-feather="twitter"></span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/codeln/" target="_blank">
                            <i><span data-feather="linkedin"></span></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}