{% extends 'base3.html' %}
{% block title %}
index
{% endblock %}
{%load static %}
{% block content %}

<!---- Hero image intro----->
<div class="jumbotron1 theme--dark d-none d-lg-block" style="height: 7vmax;">
    <div class="jumbotron1__wrapper"><img src="../../static/frontend/images/home.jpg" class="jumbotron1__image">
        <div class="jumbotron1__background"
             style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));"></div>
        <div class="hero-text">

            <div class="display-6 h1 d-none d-lg-block" style="color: white" >How It works
            </div>
        </div>


    </div>
</div>
<!---- Hero image intro sm to md----->
<div class="jumbotron1 theme--dark d-lg-none" style="height: 20vmax;">
    <div class="jumbotron1__wrapper"><img src="../../static/frontend/images/home.jpg" class="jumbotron1__image">
        <div class="jumbotron1__background"
             style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));"></div>
        <div class="hero-text">



            <div class="d-lg-none h5" style="color: white;margin-top: 2em;" >How it works</div>



        </div>


    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            Choose the skill category
        </div>
        <div class="col-lg-6">
            <div class="card" >
                <img class="card-img-top" src="../../static/frontend/images/how/categories.PNG" alt="Card image cap">
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img class="card-img-top" src="../../static/frontend/images/how/details.PNG" alt="Card image cap">
            </div>
        </div>
        <div class="col-lg-6">


        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            5
        </div>
        <div class="col-lg-6">
            <div class="card">
                <img class="card-img-top" src="../../static/frontend/images/how/invite.PNG" alt="Card image cap">
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img class="card-img-top" src="../../static/frontend/images/how/candidate.PNG" alt="Card image cap">
            </div>
        </div>
        <div class="col-lg-6">


        </div>
    </div>
</div>












{% endblock %}