{% extends 'base.html' %}
{% block title %}
index
{% endblock %}
{%load static %}
{% block content %}


<!---- Hero image intro----->
<div class="jumbotron1 theme--dark d-none d-lg-block" style="height: 30vmax;">
    <div class="jumbotron1__wrapper"><img src="../../static/frontend/images/storm.jpg" class="jumbotron1__image">
        <div class="jumbotron1__background"
             style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));"></div>
        <div class="hero-text">

            <div class="display-2 h1 d-none d-lg-block" style="color: white" >Hire Skilled Software Developers — Faster</div>

            <div class="d-lg-none h5 " style="color: white;margin-top: 4em;" >Hire Skilled Software Developers — Faster</div>



            <div class="subheading d-none d-lg-block  mt-3 ">Codeln Offers Monitored Workspaces To Verify Software Developers Skills Using Real World Projects. </div>

            <button type="button"  onclick="location.href='accounts/login';" value="Go to login" class="btn d-lg-none theme--dark primary  " style="border-radius: 0"><div class="btn__content"href="{% url 'account_login' %}">
                Get started

            </div></button>

            <button type="button"  onclick="location.href='accounts/login';" value="Go to login" class="btn d-none d-lg-block theme--dark primary mt-3 " style="border-radius: 0;margin: auto"><div class="btn__content"href="{% url 'account_login' %}">
                Get started
            </div></button>


        </div>

    </div>
</div>
<!----hero image for mobile devices--->
<div class="jumbotron1 theme--dark d-lg-none" style="height: 40vmax;">
    <div class="jumbotron1__wrapper"><img src="../../static/frontend/images/storm.jpg" class="jumbotron1__image">
        <div class="jumbotron1__background"
             style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));"></div>
        <div class="hero-text">

            <div class="display-2 h1 d-none d-lg-block" style="color: white" >Empower your workforce with better hires</div>

            <div class="d-lg-none h5 " style="color: white;margin-top: 4em;" >Empower your workforce with better hires</div>



            <div class="subheading d-none d-lg-block h4">We Validate and Verify Skills using Real World Projects</div>

            <button type="button"  onclick="location.href='accounts/login';" value="Go to login" class="btn d-lg-none theme--dark primary  " style="border-radius: 0"><div class="btn__content"href="{% url 'account_login' %}">
                Get started
            </div></button>

            <button type="button"  onclick="location.href='accounts/login';" value="Go to login" class="btn d-none d-lg-block theme--dark primary " style="border-radius: 0;margin: auto"><div class="btn__content"href="{% url 'account_login' %}">
                Get started
            </div></button>


        </div>

    </div>
</div>

<!--products-->
<section class="jumbotron jumbo1" style="padding-top:-2%" >
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h3">
            Products

        </div>

    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-4" style="margin-bottom: 2%;margin-left:auto;text-align: -webkit-center;">
            <div class="card" style="width: 18rem;border: 0">
                <img class="card-img-top product"  src="../../static/frontend/images/computer.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Screening</h5>
                    <p class="card-text">A testing platform that helps you validate the coding skills of Programmers</p>

                </div>
            </div>

        </div>
        <div class="col-lg-4" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card" style="width: 18rem;border: 0">
                <img class="card-img-top product" src="../../static/frontend/images/pick.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sourcing</h5>
                    <p class="card-text">Recruiting Programmers just got easy, get quick access to qualified and certified Programmers</p>

                </div>
            </div>

        </div>
        <div class="col-lg-4" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card" style="width: 18rem;border: 0">
                <img class="card-img-top product" src="../../static/frontend/images/certificate.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Certifications</h5>
                    <p class="card-text">We act as trust agency to ensure ease of access of prevetted skilled developers get</p>

                </div>
            </div>

        </div>

    </div>




</section>
<!--features-->
<section class="jumbotron jumbo1">
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h2">
            Features
            <br> <br>
        </div>

        <div class="row" style="margin-left: 0;margin-right: 0">
            <div class="col-md-3">
                <div class="little-box">
                    <h5 class="text-center"> <strong>Customized Projects </strong></h5>
                    <p> Our tests are project-based, you have the option of picking from our project library or uploading your own project-based tests </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="little-box">
                    <h5 class="text-center"> <strong>IDE Monitoring</strong></h5>
                    <p>Our IDE supports over 20 Programming Languages and Frameworks, it is monitored using Artificial Intelligence tools to detect cheating</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="little-box">
                    <h5 class="text-center"> <strong>Analysis &amp; Evaluation</strong></h5>
                    <p>We analyze the code of the Project, benchmark them against key metrics and provide a comprehensive report</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="little-box">
                    <h5 class="text-center"> <strong>Source Talents</strong></h5>
                    <p>We have pre-vetted Tech Talents that you can pick from. We have you covered from posting a job, to sourcing and testing the Candidate</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Call to action how it works-->
<section class="jumbotron jumbo2" style="padding-bottom: 7%;padding-top: 2%;">
    <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 2%">
        <div class="col-md-6 col-lg-6 col-xl-6 text-center" style="margin-left: auto;margin-right: auto">
            <p class="h3">Get a look of how Codeln verifies skills
                <a class="btn forbtn" href="/howitworks">How it works</a>
            </p>

        </div>

    </div>
</section>
<!--benefits-->
<section class="jumbotron jumbo1" >
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h3">
            Why Codeln
        </div>
    </div>
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-5 ">
            <div class="card noed">
                <img class="card-img-top yum" src="../../static/frontend/images/ill/stats.svg" alt="Card image benefits">

            </div>
        </div>
        <div class="col-lg-7">
            <div class="row how2 ">
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit  " src="../../static/frontend/images/home/bank.svg" alt="Card image cost">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Reduce Recruitment Cost</h6>
                            <p class="card-text text-muted">
                                Save money, reduce overall recruitment cost
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/home/time.svg" alt="Card image time">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Reduce Recruitment time </h6>
                            <p class="card-text text-muted">Save time, reduce overall hiring time</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row how2">
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/home/screen.svg" alt="Card image skills">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Validate Candidate’s Skills</h6>
                            <p class="card-text text-muted">Verify a Candidate’s ability to build real-world projects</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/home/workplace.svg"
                                     alt="Card image quality">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Improve the quality of hire</h6>
                            <p class="card-text text-muted">
                                Hiring a skills-fit reduces Employee turnover rate.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<!--Languages and frameworks-->
<section class="jumbotron jumbo8">
    <div class="row">
        <div class="col-lg-12 text-center ">
            <h2>We support</h2>
            <p class="h4 text-muted text-center">Programming Languages, Frameworks, and Libraries</p>
        </div>

    </div>
    <div class="row" style="margin-bottom: 2% ">

        <div class="col-lg-2 mt-3 mb-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                    <div style="text-align: -webkit-center;">
                        <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/icons8-javascript.svg"  alt="Card image cap">
                    </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3 mb-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/icons8-python.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3 mb-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/icons8-php-logo.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3 mb-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/java.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3 mb-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/android.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3 mb-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/react.svg"  alt="Card image cap">
                </div>

            </div>
        </div>

        <div class="col-lg-2 mt-3 " style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/icons8-angularjs.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3 " style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/Django.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/Laravel.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/icons8-mysql-logo-filled.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3 " style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/icons8-postgresql.svg"  alt="Card image cap">
                </div>

            </div>
        </div>
        <div class="col-lg-2 mt-3" style="width: 100%;">
            <div class="card homecard" style="margin: auto">



                <div style="text-align: -webkit-center;">
                    <img class="card-img-top categoriescard " src="../../static/frontend/images/languages/icons8-mongodb.svg"  alt="Card image cap">
                </div>

            </div>
        </div>

    </div>



</section>

<!--our friends-->
<section class="jumbotron jumbo10" style="padding-bottom: 7%" >
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center ">
            <h3>Companies accepting Codeln certificates</h3>

        </div>

    </div>

    <div class="row" style="margin-top: 5%;margin-left: 0;margin-right: 0">
        <div class="col-lg-3 mel d-flex justify-content-center">

            <div class="card lang ">
                <img class="card-img-top " src="../../static/frontend/images/home/meltwater.png" alt="Card image meltwater">
            </div>

        </div>


        <div class="col-lg-3 mel d-flex justify-content-center">


            <div class="card lang ">
                <img class="card-img-top " src="../../static/frontend/images/home/enpact1.png" alt="Card image enpact">
            </div>
        </div>

        <div class="col-lg-3 mel d-flex justify-content-center">
            <div class="card lang ">
                <img class="card-img-top " src="../../static/frontend/images/home/fbk.png" alt="Card image facebook">
            </div>


        </div>


        <div class="col-lg-3 mel d-flex justify-content-center">
            <div class="card lang ">
                <img class="card-img-top " src="../../static/frontend/images/home/mest.png" alt="Card image mest">
            </div>


        </div>




    </div>
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center ">
            <button class="btn btn-success" style="width: 20%">Join</button>

        </div>

    </div>





</section>

<!--Testimonials-->
<div class="jumbotron1 theme--dark" style="height: 30vmax;">
    <div class="jumbotron1__wrapper">

        <div class="jumbotron1__background"
             style="background: linear-gradient(to right top, #051937, #131b36, #1d1d35, #241f35, #292234);"></div>
        <div class="hero-text2">


            <h5 style="color: white;margin-bottom: 5%">Testimonials</h5>
            <br>
            <br>
            <br>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: auto;margin: auto">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="margin-bottom: 10%">
                    <div class="carousel-item active">
                        <blockquote class="blockquote">
                            <p class="mb-0" style="color: white">“Working with CodeLn has significantly cut down the time used to source developers for the projects I work on. This makes me more efficient and I couldn’t be more delighted with their service”
                            </p>
                            <footer class="blockquote-footer">Kelvin Degbotse <cite title="Source Title"> Business Strategist and Software consultant</cite></footer>
                        </blockquote>

                    </div>
                    <!---
                    <div class="carousel-item">
                        <blockquote class="blockquote">
                            <p class="mb-0" style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                    </div>
                    <div class="carousel-item">
                        <blockquote class="blockquote">
                            <p class="mb-0" style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                    </div>
                    -->
                </div>
                <br>
                <div >
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>

            </div>



        </div>



    </div>
</div>

<!--footer-->
<footer class="jumbotron jumbofoot"  >
    <div class="container">
        <div class="row">
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Menu</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/pricing">Pricing</a></li>
                    <li><a class="colorlink" href="/pair">Pair programming</a></li>
                    <li><a class="colorlink" href="/video">Video proctor</a></li>

                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Company</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/about">About us</a></li>
                    <li><a class="colorlink" href="/careers">Careers</a></li>
                    <li><a class="colorlink" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Resources</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="#">Contact us</a></li>
                    <li><a class="colorlink" href="#">Help center</a></li>

                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Follow</h3>
                <ul class="directory-items list-unstyled">
                    <li>
                        <a href="https://twitter.com/Codeln_spaces" target="_blank">
                            <i><span data-feather="twitter"></span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/codeln/" target="_blank">
                            <i><span data-feather="linkedin"></span></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock %}