{% extends 'base.html' %}
{% block title %}
index
{% endblock %}
{%load static %}
{% block content %}
<section class="jumbotron jumbo" >

    <div class="row rowalign">
        <div class="col-lg-6 intro text-center" style="margin: auto">
            <h2>Verify Developer skills through real world projects.</h2>
            <div >
                <br>
                <a class="btn btn-primary" style="border-radius: 20px" href="/signup">Get Started</a>
            </div>


        </div>
        <div class="col-lg-5">
            <img class="beer1" src="../../static/frontend/images/ill/deal.svg">

        </div>
    </div>


</section>
<!--how it works-->
<section class="jumbotron jumbo1" >
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h2">
            How it works

        </div>

    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-3" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card howcard" style="width: 18rem;height: 100%">
                <img class="card-img-top" src="../../static/frontend/images/ill/frame.svg" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text"></p>

                </div>
                <div class="card-footer cardtext text-muted">
                    Real world projects
                </div>
            </div>

        </div>
        <div class="col-lg-3" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card howcard" style="width: 18rem;height: 100%">
                <img class="card-img-top" src="../../static/frontend/images/ill/dev.svg" style="margin-top: 20%;" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text"></p>

                </div>
                <div class="card-footer cardtext text-muted">
                    Candidates monitored enviroment
                </div>
            </div>

        </div>
        <div class="col-lg-3" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card howcard" style="width: 18rem;height: 100%">
                <img class="card-img-top" src="../../static/frontend/images/ill/anlyze.svg" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text"></p>

                </div>
                <div class="card-footer cardtext text-muted">
                    Code analysis of project
                </div>
            </div>

        </div>
        <div class="col-lg-3" style="margin-bottom: 2%;text-align: -webkit-center;">
            <div class="card howcard" style="width: 18rem;height: 100%">
                <img class="card-img-top" src="../../static/frontend/images/ill/report.svg" alt="Card image cap">
                <div class="card-body">

                    <p class="card-text"></p>

                </div>
                <div class="card-footer cardtext text-muted">
                    Recruiter recieves ranked reports
                </div>
            </div>

        </div>
    </div>




</section>
<!--features-->
<section  class="jumbotron jumbo5">
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h2">
            Features
            <br> <br>
        </div>

        <div class='row' style="margin-left: 0;margin-right: 0">
            <div class='col-md-3'>
                <div class='little-box'>
                    <h5 class="text-center"> <strong>Project Library </strong></h5>
                    <p> We offer  Workplace Sample Coding Tests which from research has proven to be a trusted indicator of a Programmer’s prowess. </p>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='little-box'>
                    <h5 class="text-center"> <strong>IDE & Proctoring</strong></h5>
                    <p>We offer a user-friendly IDE with required tech stack pre-installed for the Candidate. We also offer cheat protection using AI monitoring</p>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='little-box'>
                    <h5 class="text-center"> <strong>Analysis & Evaluation</strong></h5>
                    <p>We analyze the code of the Project, benchmark them against key metrics and provide a comprehensive report</p>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='little-box'>
                    <h5 class="text-center"> <strong>Holistic Automation</strong></h5>
                    <p>Seamless Integration with your preferred Applicant Tracking System</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!--benefits-->
<section class="jumbotron jumbo1" >
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center h2">
            Benefits
        </div>
    </div>
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-5 ">
            <div class="card noed">
                <img class="card-img-top yum" src="../../static/frontend/images/ill/stats.svg" alt="Card image benefits">

            </div>
        </div>
        <div class="col-lg-7">
            <div class="row how2 ">
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit  " src="../../static/frontend/images/home/bank.svg" alt="Card image cost">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Reduce Recruitment Cost</h6>
                            <p class="card-text text-muted">
                                Save money, reduce overall recruitment cost
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/home/time.svg" alt="Card image time">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Reduce Recruitment time </h6>
                            <p class="card-text text-muted">Save time, reduce overall hiring time</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row how2">
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/home/screen.svg" alt="Card image skills">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Validate Candidate’s Skills</h6>
                            <p class="card-text text-muted">Verify a Candidate’s ability to build real-world projects</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card noed" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img class="card-img-top benefit" src="../../static/frontend/images/home/workplace.svg"
                                     alt="Card image quality">
                            </div>
                            <h6 class="card-subtitle mb-2 ">Improve the quality of hire</h6>
                            <p class="card-text text-muted">
                                Hiring a skills-fit reduces Employee turnover rate.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<!--get started-->
<section class="jumbotron jumbo2" >
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-md-6 text-center">
            <p class="h3">Get started</p>
        </div>
        <div class="col-md-6 text-center">
            <a class="btn btn-primary" href="/signup">Recruiter</a> &nbsp;
            <a class="btn forbtn" href="/dev">Invited for test?</a>


        </div>
    </div>
</section>

<!--devs section-->


<!--our friends-->
<section class="jumbotron jumbo10" >
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center ">
            <h2>Companies accepting Codeln certificates</h2>

        </div>

    </div>

    <div class="row" style="margin-top: 5%;margin-left: 0;margin-right: 0">
        <div class="col-lg-3 mel d-flex justify-content-center">

            <div class="card lang ">
                <img class="card-img-top " src="../../static/frontend/images/home/meltwater.png" alt="Card image meltwater">
            </div>

        </div>


        <div class="col-lg-3 mel d-flex justify-content-center">


            <div class="card lang ">
                <img class="card-img-top " src="../../static/frontend/images/home/enpact1.png" alt="Card image enpact">
            </div>
        </div>

        <div class="col-lg-3 mel d-flex justify-content-center">
            <div class="card lang ">
                <img class="card-img-top " src="../../static/frontend/images/home/fbk.png" alt="Card image facebook">
            </div>


        </div>


        <div class="col-lg-3 mel d-flex justify-content-center">
            <div class="card lang ">
                <img class="card-img-top " src="../../static/frontend/images/home/mest.png" alt="Card image mest">
            </div>


        </div>




    </div>
    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-lg-12 text-center ">
            <button class="btn btn-success" style="width: 20%">Join</button>

        </div>

    </div>





</section>



<!--footer-->
<footer class="jumbotron jumbofoot" >
    <div class="container">
        <div class="row">
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Products</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/pair">Pair programming</a></li>
                    <li><a class="colorlink" href="/video">Video proctor</a></li>

                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Company</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/about">About us</a></li>
                    <li><a class="colorlink" href="/careers">Careers</a></li>
                    <li><a class="colorlink" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Resources</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="#">Contact us</a></li>
                    <li><a class="colorlink" href="#">Help center</a></li>

                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Follow</h3>
                <ul class="directory-items list-unstyled">
                    <li>
                        <a href="https://twitter.com/Codeln_spaces" target="_blank">
                            <i><span data-feather="twitter"></span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/codeln/" target="_blank">
                            <i><span data-feather="linkedin"></span></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}