{% extends 'base3.html' %}
{% block title %}
index
{% endblock %}
{%load static %}
{% block content %}

<!---- Hero image intro----->
<div class="jumbotron1 theme--dark d-none d-lg-block" style="height: 8vmax;">
    <div class="jumbotron1__wrapper"><img src="../../static/frontend/images/home.jpg" class="jumbotron1__image">
        <div class="jumbotron1__background"
             style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));"></div>
        <div class="hero-text">

            <div class="display-6 h3 d-none d-lg-block" style="color: white" >Pricing</div>

        </div>


    </div>
</div>
<!---for smaller devices-->
<div class="jumbotron1 theme--dark d-lg-none" style="height: 20vmax;">
    <div class="jumbotron1__wrapper"><img src="../../static/frontend/images/home.jpg" class="jumbotron1__image">
        <div class="jumbotron1__background"
             style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));"></div>
        <div class="hero-text">



            <div class="d-lg-none h5" style="color: white;margin-top: 2em;" >Pricing</div>



        </div>


    </div>
</div>
<div class="row mt-3" style="margin: 0">
    <div class="col-lg-3 text-center" style="margin-left: auto">
        <div class="card mb-4 " style="height: 100%">
            <div class="card-header" style="background-color: #2b2773;color: white;height: 7rem">
                <h4 class="font-weight-normal " style="padding-top: 10%">Testing Basic pack</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$200 </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="list-group-item">10 candidates</li>
                    <li class="list-group-item">1 project </li>
                    <li class="list-group-item">Priority email support</li>
                    <li class="list-group-item">Help center access</li>
                </ul>


            </div>
            <div class="card-footer text-muted" style="background-color: white">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="border-radius: 0">
                    <a href="{% url 'account_login' %}" style="color: white;text-decoration: none">Get started</a>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-center">
        <div class="card mb-4 " style="height: 100%">
            <div class="card-header" style="background-color: #2b2773;color: white;height: 7rem">
                <h4 class="font-weight-normal " style="padding-top: 10%">Testing Value pack</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$900 </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="list-group-item">50 candidates</li>
                    <li class="list-group-item">1 project </li>
                    <li class="list-group-item">Priority email support</li>
                    <li class="list-group-item">Help center access</li>
                </ul>


            </div>
            <div class="card-footer text-muted" style="background-color: white">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="border-radius: 0">
                    <a href="{% url 'account_login' %}" style="color: white;text-decoration: none">Get started</a>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-center" style="margin-right: auto">
        <div class="card mb-4 shadow-sm" style="height: 100%">
            <div class="card-header" style="background-color: #2b2773;color: white;height: 7rem">
                <h4 class=" font-weight-normal" style="padding-top: 10%">Enterprise</h4>
            </div>
            <div class="card-body">
                <h5 style="margin-top: 1.2em;">sales@codeln.com </h5>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="list-group-item">Larger number of candidates?</li>
                    <li class="list-group-item">Want multiple projects? </li>
                    <li class="list-group-item">Phone and email support</li>
                    <li class="list-group-item">Help center access</li>
                </ul>

            </div>
            <div class="card-footer text-muted" style="background-color: white">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="border-radius: 0">Contact us</button>
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-center" style="margin-right: auto">
        <div class="card mb-4 shadow-sm" style="height: 100%">
            <div class="card-header" style="background-color: #2b2773;color: white;height: 7rem">
                <h4 class=" font-weight-normal" style="padding-top: 10%">Sourcing</h4>
            </div>
            <div class="card-body">
                <h5 style="margin-top: 1.2em;"> </h5><br>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="list-group-item">L</li>
                    <li class="list-group-item">W</li>
                    <li class="list-group-item">Phone and email support</li>
                    <li class="list-group-item">Help center access</li>
                </ul>

            </div>
            <div class="card-footer text-muted" style="background-color: white">
                <a  target="_blank" href="https://goo.gl/forms/33Ju1jpgsuQI4gKw2">
                    <button type="button" class="btn btn-lg btn-block btn-primary" style="border-radius: 0">Developer request form</button>
                </a>

            </div>
        </div>
    </div>
</div>










{% endblock %}