{% extends 'base3.html' %}
{% block title %}
index
{% endblock %}
{%load static %}
{% block content %}

<div class="jumbotron jumbotron2">
        <div class="container">
          <div class="">

            <div class=" h3 text-center d-none d-lg-block " style="color: white">Pricing</div>

              <div class="d-lg-none h5 text-center" style="color: white;margin-top: 4em;">Pricing</div>
        </div>
        </div>
      </div>


    <div class="row mt-1" style="margin: 0">
    <div class=" col-lg-3 col-sm-6 col-md-6 col-12 text-center d-flex justify-content-center mb-2" >
        <div class="card   " style="height: 100%;width: 18rem;border-radius: 0">
            <div class="card-header" style="background-color: #2b2773;color: white;height: 7rem">
                <h4 class="font-weight-normal " style="padding-top: 10%">Testing Basic pack</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$200 </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="list-group-item">10 candidates</li>
                    <li class="list-group-item">1 project </li>


                </ul>


            </div>
            <div class="card-footer text-muted" style="background-color: white">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="border-radius: 0">
                    <a href="/accounts/login/" style="color: white;text-decoration: none">Get started</a>
                </button>
            </div>
        </div>
    </div>
    <div class=" col-lg-3 col-sm-6 col-md-6 col-12 text-center d-flex justify-content-center mb-2">
        <div class="card  " style="height: 100%;width: 18rem;border-radius: 0">
            <div class="card-header" style="background-color: #2b2773;color: white;height: 7rem">
                <h4 class="font-weight-normal " style="padding-top: 10%">Testing Value pack</h4>
                <span class="badge badge-primary">Recommended</span>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$350 </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="list-group-item">20 candidates</li>
                    <li class="list-group-item">1 project </li>
                    <li class="list-group-item">Premium Project Library </li>


                </ul>


            </div>
            <div class="card-footer text-muted" style="background-color: white">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="border-radius: 0">
                    <a href="/accounts/login/" style="color: white;text-decoration: none">Get started</a>
                </button>
            </div>
        </div>
    </div>
    <div class=" col-lg-3 col-sm-6 col-md-6 col-12 text-center d-flex justify-content-center mb-2">
        <div class="card shadow-sm" style="height: 100%;width: 18rem;border-radius: 0">
            <div class="card-header" style="background-color: #2b2773;color: white;height: 7rem">
                <h4 class=" font-weight-normal" style="padding-top: 10%">Enterprise</h4>
            </div>
            <div class="card-body">
                <h5 style="margin-top: 1.2em;">sales@codeln.com </h5>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="list-group-item">Larger number of candidates?</li>
                    <li class="list-group-item">Want multiple projects? </li>
                    <li class="list-group-item">Customize projects </li>

                </ul>

            </div>
            <div class="card-footer text-muted" style="background-color: white">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="border-radius: 0">Contact us</button>
            </div>
        </div>
    </div>
    <div class=" col-lg-3 col-sm-6 col-md-6 col-12 text-center d-flex justify-content-center mb-2">
        <div class="card  shadow-sm" style="height: 100%;width: 18rem;border-radius: 0">
            <div class="card-header" style="background-color: #2b2773;color: white;height: 7rem">
                <h4 class=" font-weight-normal" style="padding-top: 10%">Sourcing</h4>
            </div>
            <div class="card-body">
                <h5 style="margin-top: 1.2em;"> </h5><br>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="list-group-item">Prevetted Candidates recommendation</li>
                    <li class="list-group-item">Title specific sourcing</li>

                </ul>

            </div>
            <div class="card-footer text-muted" style="background-color: white">
                <a target="_blank" href="/transactions/sourcing/">
                    <button type="button" class="btn btn-lg btn-block btn-primary" style="border-radius: 0">Developer request form</button>
                </a>

            </div>
        </div>
    </div>
</div>










{% endblock %}