{% extends 'base.html' %}
{% load bulma_tags %}
{% block content %}
    <div class="modal modal--is-active w3-padding-64 w3-border-deep-purple">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head w3-light-gray">
                <p class="modal-card-title">Your Profile</p>
            </header>
            <section class="modal-card-body">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ recruiter_filling_details_form|bulma }}
                    <button class="button w3-green" type="submit">Next</button>
                </form>
            </section>
        </div>
    </div>

{% endblock %}
