{% extends 'recruiterbase.html' %}
{% block title %}
recruiter dashboard
{% endblock %}
{% load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
        <div class="navbar fixed-top fine border-bottom">

            <h5>Home</h5>

            <nav>

                <ul class="nav ">
                    <!-- Authentication Links -->
                    <li class="nav-item">
                        <span data-feather="user">

                        </span>
                        {{ user.username }}
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                    </li>
                    {% endif %}


                </ul>

            </nav>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid"
         style="background: 0/30% no-repeat,linear-gradient(61deg,#2b63b7,#76c5d6 42%);">

    </div>
    <div class="row">


        <div class="col-lg-4" style="width: 100%;">
            <div class="card recruithomecard" style="margin: auto">


            <a   href="{% url 'projects:all-projects' %}">
                <div style="text-align: -webkit-center;">
                <img class="card-img-top " src="../../static/frontend/images/project.svg" style="width: 50%" alt="Card image cap">
                </div>

                    <div class="card" style="border: 0 ">


                    <div class="card-body">

                        <h5 class="card-title" style="text-align: -webkit-center;">My projects</h5>

                    </div>

                </div>
            </a>
            </div>
        </div>
        <div class="col-lg-4" style="width: 100%;">
            <div class="card recruithomecard" style="margin: auto">
            <a   href="{% url 'projects:categories' %}">
                <div style="text-align: -webkit-center;">
                <img class="card-img-top" src="../../static/frontend/images/design.svg" style="width: 50%" alt="Card image cap">
                </div>
            <div class="card" style="border: 0 ">


                <div class="card-body">

                    <h5 class="card-title" style="text-align: -webkit-center;">Create a project</h5>

                </div>

            </div>
            </a>
            </div>
        </div>
        <div class="col-lg-4" style="width: 100%;">
            <div class="card recruithomecard" style="margin: auto">
            <a  href="{% url 'projects:all-projects' %}">
                <div style="text-align: -webkit-center;">
                <img class="card-img-top" src="../../static/frontend/images/human-resources.svg" style="width: 50%" alt="Card image cap">
                </div>
                <div class="card" style="border: 0 ">


                    <div class="card-body">

                        <h5 class="card-title" style="text-align: -webkit-center;">Source candidates</h5>

                    </div>

                </div>
            </a>
            </div>
        </div>

    </div>

</main>
</div>

{% endblock %}
