{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="container">
        <div class="hero is-primary" style="height: 25%">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hello {{ user.username }} <br>Welcome To Codeln</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container w3-padding-64">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="card">
                        <header class="card-header">
                            <a href="#" class="card-header-icon"><span class="icon">                                <i
                                    class="fas fa-project-diagram"></i>
</span></a>
                            <p class="card-header-title">Projects</p>
                        </header>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static "img/projectsimage.jpg" %}" alt=""></figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="height: 96px">
                                <p class="w3-text-black">
                                    Codeln provides you a curated trove of projects to help you test to test your
                                    developers.</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{% url 'projects:all-projects' %}" class="card-footer-item">Browse projects &#8594;</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <header class="card-header">
                            <a href="#" class="card-header-icon">
                                <span class="icon">
                                    <i class="fas fa-star-half-alt"></i>
                                </span>
                            </a>
                            <p class="card-header-title">Test Candidates</p>
                        </header>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static "img/testcandidates.jpg" %}" alt=""></figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="height: 96px">
                                <p class="w3-text-black">You can test potential hires on Codeln. Our testing platform give you a
                                    fraud proof way of vetting candidates software development skills.</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Start Testing &#8594;</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <header class="card-header">
                            <a href="#" class="card-header-icon">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </a>
                            <p class="card-header-title">Find a Developer</p>
                        </header>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static "img/finddeveloper.jpg" %}" alt=""></figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="height: 96px">
                                <p class="w3-text-black">Codeln has a database of vetted developers.
                                    You can browse to find your ideal developer</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Find a developer &#8594;</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
