{% extends 'recruiterbase.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    project categories
{% endblock %}
{% block content %}
    <main role="main" class="col-md-12 ml-lg-auto ml-md-3 col-lg-10 px-4 ">
    <div class="d-none d-lg-block">
        <nav class="navbar  navbar-light fixed-top fine border-bottom">
                    <h5 >Project library</h5>
                    <ul class="nav ml-auto">



            {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a  href="{% url 'account_logout' %}" style="color: black" class="nav-link" >Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a  href="{% url 'account_login' %}" style="color: black" class="nav-link" >Login</a>
            </li>
            <li class="nav-item">
                <a  href="{% url 'account_signup' %}" style="color: black" class="nav-link" >Register</a>
            </li>
            {% endif %}


    </ul>
                </nav>
    </div>
    <!-----md devices adaptation------>
    <div class="container d-lg-none">
        <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
            <h5 class="logoadapt h5" style="text-decoration: none" href="">Project library</h5>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'account_login' %}" >Ongoing tests</a>
                            <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Create a test</a>
                            <a class="dropdown-item" href="/pricing">Source candidates</a>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a  href="/home" style="color: white" class="nav-link" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_logout' %}" style="color: white" class="nav-link" >Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a  href="{% url 'account_login' %}" style="color: white" class="nav-link" >Login</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_signup' %}" style="color: white" class="nav-link" >Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="d-none d-lg-block" style="margin-top: 8%">

</div >

<div class="d-lg-none"  style="margin-top: 7em">

</div>
    <div class="row">
        <div class="col-lg-8 col-md-8">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="border: 0">
            <div class="row " style="margin-bottom: 2%; ">


                   {% for projectype in projecttypes %}
                {% if projectype.name == 'web' %}
                    <div class="col-lg-6" style="width: 100%;">
                        <div class="card recruithomecard" style="margin: auto">


                            <a href="{% url 'projects:all-projects' projectype.id %}">
                                <div style="text-align: -webkit-center;">
                                    <img class="card-img-top categoriescard " src="../../static/frontend/images/www.svg"
                                         style="margin-left: 25%;margin-right: 25%" alt="Card image cap">
                                </div>

                                <div class="card" style="border: 0 ">


                                    <div class="card-body">

                                        <h6 class="card-title text-center" style="text-align: -webkit-center;">Web
                                            development</h6>




                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                {% elif projectype.name == 'mobile'%}
                    <div class="col-lg-6" style="width: 100%;">
                        <div class="card recruithomecard" style="margin: auto">
                            <a href="{% url 'projects:all-projects' projectype.id %}">
                                <div style="text-align: -webkit-center;">
                                    <img class="card-img-top categoriescard" src="../../static/frontend/images/smartphone.svg"
                                         style="margin-left: 25%;margin-right: 25%" alt="Card image cap">
                                </div>
                                <div class="card" style="border: 0 ">


                                    <div class="card-body">

                                        <h6 class="card-title text-center" style="text-align: -webkit-center;">Mobile
                                            development</h6>

                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}


            </div>
            <div class="row " style="margin-bottom: 2%; ">
                {% for devtype in devtypes %}
                {% if devtype.name == 'frontend' %}
                    <div class="col-lg-6" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">


                    <a href="{% url 'projects:devtypes' devtype.id %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard " src="../../static/frontend/images/web-design.svg"
                                 style="margin-left: 25%;margin-right: 25%" alt="Card image cap">
                        </div>

                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title text-center" style="text-align: -webkit-center;">Frontend
                                    development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
                {% elif devtype.name == 'backend'%}
                    <div class="col-lg-6" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">
                    <a href="{% url 'projects:devtypes' devtype.id %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard" src="../../static/frontend/images/web.svg"
                                 style="margin-left: 25%;margin-right: 25%" alt="Card image cap">
                        </div>
                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title text-center" style="text-align: -webkit-center;">Backend
                                    development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>

                {% endif %}
            {% endfor %}






        </div>
        </div>
</div>

        <div class="col-lg-4 col-12 col-md-4 mb-3 col-sm-6" style="width: 100%;">
                        <div class="card recruithomecard" style="margin: auto">
                            <a href="mailto:info@codeln.com">
                                <div style="text-align: -webkit-center;">
                                    <img class="card-img-top categoriescard" src="../../static/frontend/images/graphic.svg"
                                         style="margin-left: 25%;margin-right: 25%" alt="Card image cap">
                                </div>
                                <div class="card" style="border: 0 ">


                                    <div class="card-body">

                                        <h6 class="card-title text-center" style="text-align: -webkit-center;">Customize project</h6>

                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>

    </div>






    </main>



{% endblock %}