{% extends 'candidatesbase.html' %}
{% load bootstrap4 %}
{% block title %}
developers
{% endblock %}
{%load static %}
{% block content %}
<main role="main" class="col-md-12 col-lg-10 ml-lg-auto   px-4 ">
    <div class="d-none d-lg-block">
        <nav class="navbar  navbar-light fixed-top fine border-bottom">
                    <h5 >Home</h5>
                    <ul class="nav ml-auto">



            {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a  href="{% url 'account_logout' %}" style="color: black" class="nav-link" >Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a  href="{% url 'account_login' %}" style="color: black" class="nav-link" >Login</a>
            </li>
            <li class="nav-item">
                <a  href="{% url 'account_signup' %}" style="color: black" class="nav-link" >Register</a>
            </li>
            {% endif %}


    </ul>
                </nav>
    </div>

    <!-----md devices adaptation------>
    <div class="container d-lg-none">
        <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
            <a class="logoadapt h5" style="text-decoration: none" href="/home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sidebar menu options
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'frontend:inprogress' user.id %}">Ongoing Projects</a>
                            <a class="dropdown-item" href="/update_profile/">My profile</a>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}

                        <li class="nav-item">
                            <a  href="{% url 'account_logout' %}" style="color: white" class="nav-link" >Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a  href="{% url 'account_login' %}" style="color: white" class="nav-link" >Login</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_signup' %}" style="color: white" class="nav-link" >Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
<div class="d-none d-lg-block" style="margin-top: 6%">

</div >
<div class="d-lg-none"  style="margin-top: 7em">

</div>


     <div class="alert alert-primary " role="alert">
         <p>Welcome to Codeln.
        Complete  a skill assessment to enable you to build real world projects and get job referral's.These steps are mandatory to ensure a job referal</p>
    </div>


<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col" style="width: 100%;">
            <div class="card recruithomecard mb-3" style="width:18em;margin: auto">
                <a href="{% url 'students:tests' %}">
                    <div style="text-align: -webkit-center;">

                            <img class="img-fluid" src="../../../static/frontend/images/test.svg" style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">



                    </div>
                    <div class="card" style="border: 0 ">


                        <div class="card-body">

                            <h6 class="card-title text-center" style="text-align: -webkit-center;">Skill assessment</h6>
                            <p class="text-center">Step 1</p>


                        </div>

                    </div>
                </a>
            </div>
        </div>

        {% if passedquizz %}
        <div class="col-lg-4 col-md-6 col-sm-6 col" style="width: 100%;">
            <div class="card recruithomecard  mb-3" style="width:18em;margin: auto">
                <a href="{% url 'frontend:buildproject' %}">
                    <div style="text-align: -webkit-center;">

                            <img class="img-fluid" src="../../../static/frontend/images/code.svg" style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">



                    </div>
                    <div class="card" style="border: 0 ">


                        <div class="card-body">

                            <h6 class="card-title text-center" style="text-align: -webkit-center;">Build a real world project</h6>
                            <p class="text-center">Step 2</p>


                        </div>

                    </div>

                </a>
            </div>
        </div>
        {% else %}
        <div class="col-lg-4 col-md-6 col-sm-6 col" style="width: 100%;">
            <div class="card recruithomecard grey mb-3" style="width:18em;margin: auto">

                    <div style="text-align: -webkit-center;">

                            <img class="img-fluid" src="../../../static/frontend/images/code.svg" style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">



                    </div>
                    <div class="card" style="border: 0 ">


                        <div class="card-body">

                            <h6 class="card-title text-center" style="text-align: -webkit-center;">Build a real world project</h6>
                            <p class="text-center">Step 2</p>


                        </div>

                    </div>
            </div>
        </div>
    {% endif %}



    <div class="col-lg-4 col-md-6 col-sm-6 col" style="width: 100%;">
            <div class="card recruithomecard grey mb-3" style="width:18em;margin: auto;">

                    <div style="text-align: -webkit-center;">

                            <img class="img-fluid" src="../../../static/frontend/images/rank.svg" style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">



                    </div>
                    <div class="card" style="border: 0 ">


                        <div class="card-body">

                            <h6 class="card-title text-center" style="text-align: -webkit-center;">Job referral's</h6>
                            <br>
                            <br>



                        </div>

                    </div>

            </div>
        </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col" style="width: 100%;">
            <div class="card recruithomecard  mb-3" style="width:18em;margin: auto;height: 100%">
                <a href="{% url 'frontend:calltoapply' %}">
                    <div style="text-align: -webkit-center;">

                            <img class="img-fluid" src="../../../static/frontend/images/rank.svg" style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">

                    </div>
                    <div class="card" style="border: 0 ">


                        <div class="card-body">

                            <h6 class="card-title text-center" style="text-align: -webkit-center;">Companies recruiting</h6>



                        </div>

                    </div>

                </a>



            </div>
        </div>
</div>











</main>

{% endblock %}