{% extends 'candidatesbase.html' %}
{% block title %}
Project in progress
{% endblock %}
{%load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
        <div class="navbar fixed-top fine border-bottom">

            <h5>Projects in progress</h5>

            <nav>

                <ul class="nav ">
                    <li class="nav-item">
                        <span data-feather="user">

                        </span>
                        {{ user.username }}
                    </li>
                    <!-- Authentication Links -->
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                    </li>
                    {% endif %}


                </ul>

            </nav>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <a href="{% url 'frontend:projectdetails' %}">
                <div class="card" style="width: 18rem;height: 100%">
                    <img class="card-img-top" src="https://www.htbridge.com/images/blog/api-security.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Secure Api</h5>

                    </div>
                </div>

            </a>
        </div>
    </div>

</main>
{% endblock %}