{% extends 'candidatesbase.html' %}
{% block title %}
invites
{% endblock %}
{%load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
        <div class="navbar fixed-top fine border-bottom">

            <h5>Project invitations</h5>

            <nav>

                <ul class="nav ">
                    <li class="nav-item">
                        <span data-feather="user">

                        </span>
                        {{ user.first_name }} {{ user.last_name }}
                    </li>
                    <!-- Authentication Links -->
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                    </li>
                    {% endif %}


                </ul>

            </nav>
        </div>
    </div>

    <div class="row">
        {% for foo in candidates %}

        
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;height: 100%">
                <img class="card-img-top" src="{{ foo.transaction.project.projectimage1 }}" style="height: 150px" alt="Card image cap">
                <div class="card-body">
                    <div class="card-title">Project name: {{ foo.transaction.project.name }}</div>

                    <p class="card-text">Framework : {{ foo.transaction.project.framework.name }}</p>
                    <p class="card-text">Company name : {{ foo.transaction.user.profile.company }}</p>

                </div>
                <div class="card-footer">

                    <a href="{% url 'frontend:pendingproject' foo.transaction.project.id %}">
                        <button type="button" class="btn btn-success btn-xs">See more</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}




    </div>

</main>

{% endblock %}