{% extends 'candidatesbase.html' %}
{% block title %}
pendingproject
{% endblock %}
{%load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
        <div class="navbar fixed-top fine border-bottom">

            <h5>Pending project</h5>

            <nav>

                <ul class="nav ">
                    <li class="nav-item">
                        <span data-feather="user">

                        </span>
                        {{ user.first_name }} {{ user.last_name }}
                    </li>
                    <!-- Authentication Links -->
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                    </li>
                    {% endif %}


                </ul>

            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-lg" style="text-align: left">


            <div class="card5" style="text-align: left">
                <div class="card-body">

                    <h5 class="card-subtitle mb-2 ">{{ project.name }}</h5>

                    <hr>
                    <p class="card-text ">
                        <span class="badge badge-primary">Level :{{ project.level }} </span>
                    </p><p>
                    {{ project.description }}

                </p>

                    <p></p>


                    <h5 class="card-subtitle mb-2 ">Enviroment variables</h5>
                    <hr>
                    <p class="card-text ">
                    </p><ul>
                    <li>Framework to be used : {{ project.framework.name }}</li>


                </ul>

                    <button type="submit" class="btn btn-primary">Accept the offer</button>

                </div>
            </div>


        </div>

    </div>
</main>

{% endblock %}