{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/frontend/images/how/coding.png">
    <meta name="theme-color" content="#272339">
    <title>{% block title %}

        {% endblock %} | Codeln</title>

    {% bootstrap_css %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">



    <link rel="stylesheet" href="{% static 'frontend/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/stay.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
    {% block css %}

    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md fixed-top  nav-container">
  <a class="brandhome codelnlogo" style="text-decoration: none" href="/home">CODELN </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span  class="navbar-toggler-icon">
        <span style="color: white" data-feather="menu"></span>
    </span>
  </button>



    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">


        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'account_login' %}" >Screening</a>
                    <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Sourcing</a>
                    <a class="dropdown-item" href="/pricing">Pricing</a>


                </div>
            </li>



            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a  href="{% url 'account_logout' %}" style="color: white" class="nav-link" >Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a  href="{% url 'account_login' %}" style="color: white" class="nav-link" >Login</a>
            </li>
            <li class="nav-item">
                <a  href="{% url 'account_signup' %}" style="color: white" class="nav-link" >Register</a>
            </li>
            {% endif %}



        </ul>
    </div>
</nav>
{% block content %}

{% endblock %}











<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
{% bootstrap_javascript %}


<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
<script>
    $(document).ready(function() {

        $(window).scroll(function() {

            var height = $('.nav-container').height();
            var scrollTop = $(window).scrollTop();

            if (scrollTop >= height - 38) {
                $('.nav-container').addClass('solid-nav');
            } else {
                $('.nav-container').removeClass('solid-nav');
            }

        });
    });
</script>
<script>
    $(document).ready(function() {
        $(".testimonial-carousel").slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            arrows: true,
            prevArrow: $(".testimonial-carousel-controls .prev"),
            nextArrow: $(".testimonial-carousel-controls .next")
        });
    });

</script>


{% block script %}

{% endblock %}
</body>
</html>