{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/frontend/images/how/coding.png">
    <meta name="theme-color" content="#272339">
    <title>{% block title %}

        {% endblock %} | Codeln</title>

    {% bootstrap_css %}





    <link rel="stylesheet" href="{% static 'frontend/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/stay.css' %}">


    {% block css %}

    {% endblock %}
</head>
<body>
<div class="container">
<nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
    <a class="brandhome codelnlogo" style="text-decoration: none" href="/home">CODELN</a>
    <span class="badge badge-primary">BETA</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">


        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'account_login' %}" >Screening</a>
                    <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Sourcing</a>
                    <a class="dropdown-item" href="/pricing">Pricing</a>


                </div>
            </li>

            <li class="nav-item">
                <a  href="{% url 'account_login' %}" style="color: white" class="nav-link" >Login</a>
            </li>
            <li class="nav-item">
                <a  href="{% url 'account_signup' %}" style="color: white" class="nav-link" >Register</a>
            </li>



        </ul>
    </div>
</nav>
</div>
{% block content %}

{% endblock %}











<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
{% bootstrap_javascript %}






{% block script %}

{% endblock %}
</body>
</html>