{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#76c5d6">
    <title>{% block title %}

    {% endblock %} | Codeln</title>

    <link rel="stylesheet" href="{% static 'frontend/css/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">



    <link rel="stylesheet" href="{% static 'frontend/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/stay.css' %}">
    {% block css %}

    {% endblock %}
</head>
<body>



        <nav id="mynav" class="navbar sticky-top  nav-colored">
            <a class="brandhome codelnlogo" href="">CODELN</a>

            <ul class="nav justify-content-end orient">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                </li>
                {% endif %}


            </ul>



        </nav>


    {% block content %}

    {% endblock %}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script  src="{% static 'frontend/css/js/popper.min.js' %}" ></script>
        <script  src="{% static 'frontend/css/js/bootstrap.min.js' %}" ></script>


        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        {% block script %}

{% endblock %}
</body>
</html>