{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'frontend/images/how/coding.png' %}">
    <meta name="theme-color" content="#272339">
    <title>{% block title %}

        {% endblock %} | Codeln</title>

    {% bootstrap_css %}





    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/jquery.countdown.css' %}">


    <link rel="stylesheet" href="{% static 'frontend/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/stay.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap-lightbox.min.css' %}">
    {% block css %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130019198-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130019198-1');
</script>
        <script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = 'HWMVT';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
    g.consent=function(a){g("consent",!arguments.length||a)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(){};
})(window,document,window['_fs_namespace'],'script','user');
</script>



    {% endblock %}
</head>
<body>

<div class="container-fluid">
    <div class="row" style="height: 50vmax;margin: 0">
        <nav class="col-md-2 d-none d-lg-block col-lg-2 flex-column sidebar col-xl-2" style="background-color: #332d40">
         <div class="row" style="width: 100%">
             <div class="col-lg-12">
                <a class="brandhome codelnlogo1" href="/home">
                     <img src="{%static 'frontend/images/logo/cd_ln_wo.png' %}" class="img-fluid ml-3  mt-2" width="120" alt="">
                 </a>
             </div>
         </div>
                {% if request.user.profile.stage == 'complete' %}
                    <ul class="nav mb-2 ">
                    <li class="nav-item" >
                        <a class="nav-link " style="color:#FFFFFF;" href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="{% url 'frontend:buildproject'  %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Build a project
                        </a>
                    </li>


                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="{% url 'students:tests' %}">
                            <span data-feather="clock"></span>


                            Skill assessment
                        </a>
                    </li>
                        <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="{% url 'frontend:calltoapply' %}">
                            <span data-feather="settings"></span>


                            Companies recruiting
                        </a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="/update_profile/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>

                            My profile
                        </a>
                    </li>



                </ul>
                    {% else %}

                <ul class="nav mb-2 ">
                    <li class="nav-item" >
                        <a class="nav-link " style="color:#FFFFFF;" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Build a Project
                        </a>
                    </li>


                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="">
                            <span data-feather="clock"></span>


                            Skill assessment
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="">
                            <span data-feather="settings"></span>


                            Companies recruiting
                        </a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>

                            My profile
                        </a>
                    </li>



                </ul>
            {% endif %}

        </nav>






{% block content %}
    {% endblock %}

</div>
</div>





        <script src="{% static 'frontend/css/bootstrap-lightbox.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        {% bootstrap_javascript %}
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script>
            feather.replace()
        </script>

        <script>
            $(document).ready(function(e){
                $(".img-check").click(function(){
                    $(this).toggleClass("check");
                });
            });
        </script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery.plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery.countdown.js' %}"></script>
<script src="https://livechat.aidahbot.com/static/plugin/index.js" type="text/javascript" page_id=5c2f57f2db87490015388f35></script>
{% block script %}
    <script>

	$(document).ready(function() {




	var deadline = 7;
     var totalTime = deadline*60*60*24;

   var halfTime = Math.floor(totalTime / 2);

   if (!Cookies.get('cdTime')) {
      var now = $.now(); // First time on page
      Cookies.set('firstTime', now, {
         expires: 7,
         path: '/'
      });
      Cookies.set('cdTime', totalTime, {
         expires: 7,
         path: '/'
      });
      var runTimer = Cookies.get('cdTime');
   } else {
      var currentTime = $.now();
      var usedTime = (currentTime - Cookies.get('firstTime')) / 1000; // Calculate and convert into seconds
      var runTimer = Cookies.get('cdTime') - usedTime;
   }
   $('#cd').countdown({
      until: runTimer,
      compact: true,
      onExpiry: EndCountdown,
      onTick: Callbacks,

      layout: '{dn}day:{hn}hrs:{mn}min:{sn}sec'
   });

   function Callbacks(periods) {
      if ($.countdown.periodsToSeconds(periods) === halfTime) {
         $('#cd').addClass('halfway');
      }
      else if ($.countdown.periodsToSeconds(periods) <= 0) {
         EndCountdown();

      }
   }

   function EndCountdown() {
      $('#cd').removeClass('halfway');
      $('#cd').html('Submission links closed');

      document.getElementById('submission').hidden=true;

   }
});

</script>
{% endblock %}

</body>
</html>