{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/frontend/images/how/coding.png">
    <meta name="theme-color" content="#272339">
    <title>{% block title %}

        {% endblock %} | Codeln</title>

    {% bootstrap_css %}





    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">



    <link rel="stylesheet" href="{% static 'frontend/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/stay.css' %}">
    {% block css %}

    {% endblock %}
</head>
<body>

<div class="container-fluid">
    <div class="row" style="height: 50vmax;margin: 0">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="background: linear-gradient(to top, rgba(13, 3, 29, 0.85), rgba(25, 25, 38, 0.85));">
            <div class="row" style="width: 100%">
                <div class="col-lg-12">
                    <div>
                        <a class="brandhome codelnlogo1" style="text-decoration: none" href="/">CODELN</a>

                    </div>

                </div>
            </div>

            <div class="sidebar-sticky">
                <ul class="nav ">
                    <li class="nav-item" >
                        <a class="nav-link disabled" style="color:#FFFFFF;" href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="{% url 'frontend:invites' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Call to Apply
                        </a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="{% url 'frontend:inprogress' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Ongoing projects
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="color:#FFFFFF;" href="">
                            My profile



                        </a>
                    </li>

                </ul>
            </div>
        </nav>






{% block content %}





{% block script %}
    {% bootstrap_javascript %}


    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

{% endblock %}
{% endblock %}
</body>
</html>