{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/frontend/images/how/coding.png">
    <meta name="theme-color" content="#272339">
    <title>{% block title %}

        {% endblock %} | Codeln</title>

    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'frontend/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/stay.css' %}">

    {% block css %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130019198-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130019198-1');
</script>



    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row" style="height: 50vmax;margin-left: 0;margin-right: 0">
    <nav class="col-md-2 d-none d-lg-block col-lg-2 flex-column sidebar col-xl-2" style="background-color: #332d40">
         <div class="row" style="width: 100%">
             <div class="col-lg-12">

                 <a class="brandhome codelnlogo1" href="/home">
                     <img src="{%static 'frontend/images/logo/cd_ln_wo.png' %}" class="img-fluid ml-3  mt-2" width="120" alt="">
                 </a>
             </div>
         </div>



            <ul class="nav  mb-2 ">
              <li class="nav-item">
                <a class="nav-link" style="color: white" href="{% url 'frontend:my-activity' %}">
                    <span data-feather="home"></span>
                            Ongoing tests

                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white" href="{% url 'projects:categories' %}">
                  <span data-feather="book"></span>
                            Create new test
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white" href="{% url 'transactions:sourcing' %}">
                     <span data-feather="users"></span>
                            Source Candidate

                </a>
              </li>

            </ul>


        </nav>












        {% block content %}

        {% endblock %}
    </div>
</div>




        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        {% bootstrap_javascript %}
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script>
            feather.replace()
        </script>

        <script>
            $(document).ready(function(e){
                $(".img-check").click(function(){
                    $(this).toggleClass("check");
                });
            });
        </script>
        {% block script %}

        {% endblock %}
</body>
</html>