{% extends 'candidatesbase.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
    <main role="main" class="col-md-10 col-lg-10 ml-lg-auto   px-4 ">
    <div class="d-none d-lg-block">
        <nav class="navbar  navbar-light fixed-top fine border-bottom">
                    <h5 >{{ quiz.name }}</h5>
                    <ul class="nav ml-auto">



            {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a  href="{% url 'account_logout' %}" style="color: black" class="nav-link" >Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a  href="{% url 'account_login' %}" style="color: black" class="nav-link" >Login</a>
            </li>
            <li class="nav-item">
                <a  href="{% url 'account_signup' %}" style="color: black" class="nav-link" >Register</a>
            </li>
            {% endif %}


    </ul>
                </nav>
    </div>

    <!-----md devices adaptation------>
    <div class="container d-lg-none">
        <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
            <a class="logoadapt h5" style="text-decoration: none" href="">{{ quiz.name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sidebar menu options
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'frontend:inprogress' user.id %}">Ongoing Projects</a>
                            <a class="dropdown-item" href="/update_profile/">My profile</a>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a  href="/home" style="color: white" class="nav-link" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_logout' %}" style="color: white" class="nav-link" >Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a  href="{% url 'account_login' %}" style="color: white" class="nav-link" >Login</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_signup' %}" style="color: white" class="nav-link" >Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

<div class="d-none d-lg-block" style="margin-top: 8%">

</div >

<div class="d-lg-none"  style="margin-top: 7em">

</div>
        <div class="shadow-sm p-3 mb-5  bg-white"  >
            <div class="d-flex justify-content-end">
                Time:<span id="timer"></span>
            </div>
        </div>
   <div class="shadow-sm p-3 mb-5 bg-white" >
       <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>

  <p class="lead">{{ question.text }}</p>
   <div class="row">
       {% if question.codesample %}
       <div class="col-5 mt-5">
       <form method="post" novalidate>
    {% csrf_token %}
      {% bootstrap_form_errors form %}
      {{ form|crispy }}



    <button type="submit" id="submit" class="btn btn-primary btn-sm btn-block">Next →</button>
  </form>

       </div>
       <div class="col-7">
           <img  class=" " src="{{ question.codesample }}">
       </div>
           {% else %}
           <div class="col-12">
           <form method="post" novalidate>
    {% csrf_token %}
      {% bootstrap_form_errors form %}
      {{ form|crispy }}



    <button type="submit" id="submit" class="btn btn-primary btn-sm btn-block">Next →</button>
  </form>
           </div>
       {% endif %}
   </div>


   </div>

    </main>


    <script>
    time = 50;
interval = setInterval(function() {
    time--;
    document.getElementById('timer').innerHTML = "" + time + " seconds"
    if (time == 0) {
        // stop timer
        clearInterval(interval);
        // click
        document.getElementById('submit').click();
    }

}, 1000)
    </script>

{% endblock %}
