{% extends 'candidatesbase.html' %}
{% load bootstrap4 %}
{% block title %}
    developers
{% endblock %}
{% load static %}
{% block content %}
    <main role="main" class="col-md-12 col-lg-10 ml-lg-auto   px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>Home</h5>
                <ul class="nav ml-auto">


                    {% if request.user.is_authenticated %}


                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sidebar menu options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                                <a class="dropdown-item" href="{% url 'frontend:inprogress' user.id %}">Ongoing#}
{#                                    Projects</a>#}
                                <a class="dropdown-item" href="/update_profile/">My profile</a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}

                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-none d-lg-block" style="margin-top: 6%">

        </div>
        <div class="d-lg-none" style="margin-top: 7em">

        </div>


        <h1 style="color: #0580c9">{{ job.title }}</h1>

        <p class="date">
            Job Posted {{ job.created }} by <span
                style="color: #c69500">{{ job.posted_by }} ({{ job.posted_by.profile.job_role }})</span> of <span
                style="color: #c91452"><a href="{{ job.posted_by.profile.company_url }}"
                                          target="_blank">{{ job.posted_by.profile.company }}</a></span>
        </p>

        <h3 style="color: #0580c9">Job Description</h3>
        {{ job.description|linebreaks }}


        <h6 style="text-decoration: underline; color: #0580c9;">Job Role</h6>
        <h6 style="color: #c91452">
            <td>{{ job.job_role }}</td>
        </h6>

        <h6 style="text-decoration: underline; color: #0580c9;">Job Location</h6>
        <h6 style="color: #c91452">
            <td>{{ job.location.name }}</td>
        </h6>

        <h6 style="text-decoration: underline; color: #0580c9;">Developer Experience</h6>
        <h6 style="color: #c91452">
            <td>{{ job.dev_experience }}</td>
        </h6>

        <h6 style="text-decoration: underline; color: #0580c9;">Engagement Type</h6>
        <h6 style="color: #c91452">
            <td>{{ job.engagement_type }}</td>
        </h6>

        <h6 style="text-decoration: underline; color: #0580c9;">Tech Stack</h6>
        <h6 style="color: #c91452">
            <td>{{ job.tech_stack }}</td>
        </h6>

        <h6 style="text-decoration: underline; color: #0580c9;">Remuneration In Dollars</h6>
        <h6 style="color: #c91452">
            <td>{{ job.remuneration }}</td>
        </h6>


        <form action="{% url 'marketplace:apply_for_job' job.id %}" method="post" class="form">
            {% csrf_token %}

            <p class="text-center mt-4">
                {% if status %}
                    <input class="btn theme--dark primary " style="border-radius: 0; margin: auto; color: white" type="submit" value="Great! You've Applied For This Job Already" disabled>
                {% else %}
                    <input class="btn theme--dark primary " style="border-radius: 0; margin: auto; color: white" type="submit" value="Apply For This Job!">
                {% endif %}
            </p>
        </form>


    </main>

{% endblock %}