{% extends 'candidatesbase.html' %}
{% load bootstrap4 %}
{% block title %}
    developers
{% endblock %}
{% load static %}
{% block content %}
    <main role="main" class="col-md-12 col-lg-10 ml-lg-auto   px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>Home</h5>
                <ul class="nav ml-auto">


                    {% if request.user.is_authenticated %}


                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sidebar menu options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'frontend:inprogress' user.id %}">Ongoing
                                    Projects</a>
                                <a class="dropdown-item" href="/update_profile/">My profile</a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}

                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-none d-lg-block" style="margin-top: 6%">

        </div>
        <div class="d-lg-none" style="margin-top: 7em">

        </div>


        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Company</th>
                <th scope="col">Job Title</th>
                <th scope="col">Job Role</th>
                <th scope="col">Developer Experience</th>
                <th scope="col">Engagement Type</th>
                <th scope="col">Tech Stack</th>
                <th scope="col">Remuneration In Dollars</th>
                <th scope="col">Application Status</th>
                <th scope="col">Job Details</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td><a href="{{ job.posted_by.profile.company_url }}" target="_blank">{{ job.posted_by.profile.company }}</a></td>
                    <td>{{ job.title }}</td>
                    <td>{{ job.job_role }}</td>
                    <td>{{ job.dev_experience }}</td>
                    <td>{{ job.engagement_type }}</td>
                    <td>{{ job.tech_stack }}</td>
                    <td>{{ job.remuneration }}</td>
                    <td>
                    {% if applied_jobs %}
                        {% for app in applied_jobs %}

                            {% if job.id == app.job_id and app.selected %}
                                Picked
                                {% elif job.id == app.job_id and app.selected == False %}
                                Applied
                                {% else %}
                                Not applied
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        Not Applied
                    {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'marketplace:job_details' job.id %}">view details</a>
                    </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>


    </main>

{% endblock %}