{% extends 'recruiterbase.html' %}
{% block title %}
recruiter dashboard
{% endblock %}
{% load static %}
{% block content %}
<main role="main" class="col-md-12 ml-lg-auto  col-lg-10 px-4 ">
    <div class="d-none d-lg-block">
        <nav class="navbar  navbar-light fixed-top fine border-bottom">
                    <h5 >Edit transaction</h5>
                    <ul class="nav ml-auto">



            {% if request.user.is_authenticated %}



            <li class="nav-item">
                <a  href="{% url 'account_logout' %}" style="color: black" class="nav-link" >Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a  href="{% url 'account_login' %}" style="color: black" class="nav-link" >Login</a>
            </li>
            <li class="nav-item">
                <a  href="{% url 'account_signup' %}" style="color: black" class="nav-link" >Register</a>
            </li>
            {% endif %}


    </ul>
                </nav>
    </div>

    <!-----md devices adaptation------>
    <div class="container d-lg-none">
        <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
            <a class="logoadapt h5" style="text-decoration: none" href="/home">Edit transaction</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'frontend:my-activity' %}" >Ongoing tests</a>
                            <a class="dropdown-item" href="{% url 'projects:categories' %}">Create a test</a>
                            <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Source candidates</a>
                            {% if request.user.is_staff %}
                                <a class="dropdown-item" href="{% url 'frontend:onboarddevs' %}">devs</a>
                                <a class="dropdown-item" href="{% url 'frontend:onboardrecruiters' %}">recruiters</a>
                            {% endif %}
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a  href="/home" style="color: white" class="nav-link" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_logout' %}" style="color: white" class="nav-link" >Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a  href="{% url 'account_login' %}" style="color: white" class="nav-link" >Login</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_signup' %}" style="color: white" class="nav-link" >Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

<div class="d-none d-lg-block" style="margin-top: 6%">

</div >

<div class="d-lg-none"  style="margin-top: 7em">

</div>
<div class="row">
    <div class="col-6">


            <img style="width: 50%" src="{{ transaction.project.projectimage1 }}" alt="Card image cap">

    </div>
            <div class="col-6">


    <h6 class="card-title">{{ transaction.project }}</h6>
      <p class="card-text"><strong>Recruiter name: </strong>{{ transaction.user.first_name }}  {{ transaction.user.last_name }}</p>
      <p class="card-text"><strong>Recruiter email:</strong> {{ transaction.user.email }}</p>
      <p class="card-text"><strong>Recruiter company:</strong> {{ transaction.user.profile.company }}</p>
    <a href="{% url 'frontend:deletetransaction' transaction.id %}" class="btn btn-warning">Delete Project</a>
      <a href="{% url 'frontend:closetransaction' transaction.id %}" class="btn btn-primary">Close Project</a>

</div>
    </div>
    <div class="col-12">
        <h6>Candidates list</h6>
    <div class="card">
        <table class="table">
  <thead class="thead-light">
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Email</th>
        <th scope="col">Stage</th>
        <th scope="col">grade</th>


    </tr>
  </thead>
  <tbody>
  {% for candidate in candidates %}
    <tr>

      <td>{{ candidate.candidate.first_name }}  {{ candidate.candidate.last_name }}</td>
      <td>{{ candidate.candidate.email }}</td>
      <td>{{ candidate.stage }}</td>
    {% if candidate.stage == 'project-completed' %}
        <td><a href="{% url 'frontend:grading' candidate.candidate_id candidate.transaction_id %}" class="btn-sm btn-success">grade</a> </td>
        {% else %}
        <td>Not yet </td>
    {% endif %}

    </tr>
  {% endfor %}

  </tbody>
</table>

    </div>

    </div>
</div>








</main>



{% endblock %}
