{% extends 'recruiterbase.html' %}
{% load static %}
{% block title %}
    Management

{% endblock %}

{% block content %}
    <main role="main" class="col-md-12 ml-lg-auto  col-lg-10 px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>Management</h5>
                <ul class="nav ml-auto">


                    {% if request.user.is_authenticated %}



                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/home">Management</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'frontend:my-activity' %}">Ongoing tests</a>
                                <a class="dropdown-item" href="{% url 'projects:categories' %}">Create a test</a>
                                <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Source candidates</a>
                                {% if request.user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'frontend:onboarddevs' %}">devs</a>
                                    <a class="dropdown-item"
                                       href="{% url 'frontend:onboardrecruiters' %}">recruiters</a>
                                {% endif %}
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="/home" style="color: white" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="d-none d-lg-block" style="margin-top: 8%">

        </div>

        <div class="d-lg-none" style="margin-top: 7em">

        </div>

    {% if request.user.is_staff %}
            <div class="row" style="margin-right: 0;margin-left: 0">
                <div class="col-lg-3 col-md-6 col-sm-6 col mb-2" style="width: 100%;">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'frontend:seedevs' %}">
                            <div style="text-align: -webkit-center;">

                                <img class="img-fluid" src="../../../static/frontend/images/team.svg"
                                     style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">


                            </div>
                            <div class="card" style="border: 0 ">


                                <div class="card-body">

                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">See devs</h6>


                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col mb-2" style="width: 100%;">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'frontend:seerecruiters' %}">
                            <div style="text-align: -webkit-center;">

                                <img class="img-fluid" src="../../../static/frontend/images/employee.svg"
                                     style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">


                            </div>
                            <div class="card" style="border: 0 ">


                                <div class="card-body">

                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">See
                                        recruiters</h6>


                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col mb-2" style="width: 100%;">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'classroom:quiz_change_list' %}">
                            <div style="text-align: -webkit-center;">

                                <img class="img-fluid" src="../../../static/frontend/images/quiz.svg"
                                     style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">


                            </div>
                            <div class="card" style="border: 0 ">


                                <div class="card-body">

                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">Quizzes</h6>


                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col mb-2" style="width: 100%;">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'frontend:managetransactions' %}">
                            <div style="text-align: -webkit-center;">

                                <img class="img-fluid" src="../../../static/frontend/images/trans.svg"
                                     style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">


                            </div>
                            <div class="card" style="border: 0 ">


                                <div class="card-body">

                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">
                                        Transactions</h6>


                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col mb-2" style="width: 100%;">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'frontend:manageprojects' %}">
                            <div style="text-align: -webkit-center;">

                                <img class="img-fluid" src="../../../static/frontend/images/start-up.svg"
                                     style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">


                            </div>
                            <div class="card" style="border: 0 ">


                                <div class="card-body">

                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">
                                        Projects</h6>


                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col mb-2" style="width: 100%;">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'frontend:takenquizzes' %}">
                            <div style="text-align: -webkit-center;">

                                <img class="img-fluid" src="../../../static/frontend/images/how/completed.svg"
                                     style="width: 40%;margin-right: 25%;margin-left: 25%" alt="Card image cap">


                            </div>
                            <div class="card" style="border: 0 ">


                                <div class="card-body">

                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">Taken
                                        quizzes</h6>


                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            <div class=" col-lg-3 col-md-6 col-sm-6 col mb-2">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'marketplace:dev_pool' %}">
                            <div style="text-align: -webkit-center;">
                                <img style="width: 40%;margin-right: 25%;margin-left: 25%"
                                     src="../../../static/frontend/images/search.svg"
                                     alt="Card image cap">
                            </div>
                            <div class="card" style="border: 0 ">
                                <div class="card-body">
                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">candidates pool</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <div class=" col-lg-3 col-md-6 col-sm-6 col mb-2">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'blog:post_list' %}">
                            <div style="text-align: -webkit-center;">
                                <img style="width: 40%;margin-right: 25%;margin-left: 25%"
                                     src="../../../static/frontend/images/comment.svg"
                                     alt="Card image cap">
                            </div>
                            <div class="card" style="border: 0 ">
                                <div class="card-body">
                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">blog</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <div class=" col-lg-3 col-md-6 col-sm-6 col mb-2">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'frontend:analytics' %}">
                            <div style="text-align: -webkit-center;">
                                <img style="width: 40%;margin-right: 25%;margin-left: 25%"
                                     src="../../../static/frontend/images/bar-chart.svg"
                                     alt="Card image cap">
                            </div>
                            <div class="card" style="border: 0 ">
                                <div class="card-body">
                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">Analytics</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class=" col-lg-3 col-md-6 col-sm-6 col mb-2">
                    <div class="card recruithomecard" style="width:15em;margin: auto">
                        <a href="{% url 'marketplace:post_job' %}">
                            <div style="text-align: -webkit-center;">
                                <img style="width: 40%;margin-right: 25%;margin-left: 25%"
                                     src="../../../static/frontend/images/pencil.svg"
                                     alt="Card image cap">
                            </div>
                            <div class="card" style="border: 0 ">
                                <div class="card-body">
                                    <h6 class="card-title text-center" style="text-align: -webkit-center;">Create
                                        Job</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% if jobs %}
                    <div class=" col-lg-3 col-md-6 col-sm-6 col mb-2">
                        <div class="card recruithomecard" style="width:15em;margin: auto">
                            <a href="{% url 'marketplace:manage_posted_jobs' %}">
                                <div style="text-align: -webkit-center;">
                                    <img class="img-fluid" src="../../../static/frontend/images/programmer.svg"
                                         style="width: 40%;margin-left: 33%;margin-right: 33%" alt="Card image cap">
                                </div>
                                <div class="card" style="border: 0 ">


                                    <div class="card-body">

                                        <h6 class="card-title text-center" style="text-align: -webkit-center;">Manage
                                            Job
                                            </h6>

                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>

                {% endif %}


            </div>

        {% endif %}
     </main>
{% endblock %}