{% extends 'recruiterbase.html' %}
{% block title %}
my projects
{% endblock %}
{%load static %}
{% block content %}
<main role="main" class="col-md-10 col-lg-10 ml-lg-auto   px-4 ">
    <div class="d-none d-lg-block">
        <nav class="navbar  navbar-light fixed-top fine border-bottom">
            <ul class="nav nav-tabs" style="border-bottom: 0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active " id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                       aria-controls="overview" aria-selected="true">All projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="criteria-tab" data-toggle="tab" href="#criteria" role="tab"
                       aria-controls="criteria" aria-selected="false">Closed group projects </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="fraud-tab" data-toggle="tab" href="#fraud" role="tab"
                       aria-controls="fraud" aria-selected="false">Open call </a>
                </li>


            </ul>

            <ul class="nav ml-auto">



            {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a  href="{% url 'account_logout' %}" style="color: black" class="nav-link" >Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a  href="{% url 'account_login' %}" style="color: black" class="nav-link" >Login</a>
            </li>
            <li class="nav-item">
                <a  href="{% url 'account_signup' %}" style="color: black" class="nav-link" >Register</a>
            </li>
            {% endif %}


    </ul>
                </nav>
    </div>

    <!-----md devices adaptation------>
    <div class="container d-lg-none">
        <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
            <ul class="nav nav-tabs" style="border-bottom: 0" id="myTab" role="tablist">
                <li class="nav-item" style="margin-bottom: 1em;margin-top: 1em">
                    <a class="nav-link1 active " style="color: white;text-decoration: none" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                       aria-controls="overview" aria-selected="true">All</a>
                </li>
                <li class="nav-item" style="margin-bottom: 1em;margin-top: 1em">
                    <a class="nav-link1 " id="criteria-tab" style="color: white;text-decoration: none" data-toggle="tab" href="#criteria" role="tab"
                       aria-controls="criteria" aria-selected="false">Closed group </a>
                </li>
                <li class="nav-item" style="margin-bottom: 1em;margin-top: 1em">
                    <a class="nav-link1 " id="fraud-tab" style="color: white;text-decoration: none" data-toggle="tab" href="#fraud" role="tab"
                       aria-controls="fraud" aria-selected="false">Open call</a>
                </li>


            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'frontend:my-activity' %}" >Ongoing tests</a>
                            <a class="dropdown-item" href="{% url 'projects:categories' %}">Create a test</a>
                            <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Source candidates</a>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a  href="/home" style="color: white" class="nav-link" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_logout' %}" style="color: white" class="nav-link" >Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a  href="{% url 'account_login' %}" style="color: white" class="nav-link" >Login</a>
                        </li>
                        <li class="nav-item">
                            <a  href="{% url 'account_signup' %}" style="color: white" class="nav-link" >Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

<div class="d-none d-lg-block" style="margin-top: 8%">

</div >

<div class="d-lg-none"  style="margin-top: 7em">

</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active " id="overview" role="tabpanel" aria-labelledby="overview-tab">
        {% if transactions %}

    <div class="row">

    {% for closed in closedprojects %}


        {% for transaction in transactions %}
            {% if transaction.id == closed %}
            {% if transaction.stage == "complete" %}

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 " >
                    <a href="{% url 'frontend:tracker' transaction.id %}" style="text-decoration: none">
                        <div class="card" style="height: 100%;border-radius: 0">
                            <img style="height: 13rem" class="img-fluid" src="{{ transaction.project.projectimage1}}" alt="Card image cap">

                            <div class="card-body">
                                <h5 class="card-title">{{ transaction.project.name}}</h5>

                            </div>
                            <div class="card-footer text-muted">
                                    <span class="badge btn-primary" style="background-color: #b627a1">{{ transaction.framework.language}}</span>
                                    <span class="badge btn-primary" style="background-color: #28bbbb">user specific candidates</span>
                                </div>

                        </div>
                    </a>

                </div>
                {% endif %}


            {% endif %}


        {% endfor %}
    {% endfor %}
    {% for open in allopencalls %}
        {% for transaction in transactions %}
            {% if transaction.id == open %}
            {% if transaction.stage == "complete" %}

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 " >
                    <a href="{% url 'frontend:opencalltracker' transaction.id %}" style="text-decoration: none">
                        <div class="card" style="height: 100%;border-radius: 0">
                            <img style="height: 13rem" class="img-fluid" src="{{ transaction.project.projectimage1}}" alt="Card image cap">

                            <div class="card-body">
                                <h5 class="card-title">{{ transaction.project.name}}

                                </h5>


                            </div>
                            <div class="card-footer  text-muted" style="text-align: -webkit-right">
                                <span class="badge btn-primary" style="background-color: #28bbbb">{{ transaction.framework.language }}</span>
                                <span class="badge btn-primary" style="background-color: #b627a1">open call</span>
                            </div>

                        </div>
                    </a>

                </div>
                {% endif %}


            {% endif %}


        {% endfor %}
    {% endfor %}
    </div>




{% else %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2" >
            <a href="{% url 'projects:categories' %}" style="text-decoration: none">
                <div class="card " style="border-radius: 0;">
                    <img style="height: 13rem" class="img-fluid " style="width: 50%;margin: auto" src="{%static 'frontend/images/add.svg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="margin-top: 1em">Create a new test</h5>

                    </div>
                </div>
            </a>

        </div>
    </div>

{% endif %}
    </div>
    <div class="tab-pane fade  " id="criteria" role="tabpanel" aria-labelledby="criteria-tab">
        {% if transactions %}

    {% if closedprojects %}

    <div class="row">

    {% for closed in closedprojects %}


        {% for transaction in transactions %}
            {% if transaction.id == closed %}
            {% if transaction.stage == "complete" %}

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 " >
                    <a href="{% url 'frontend:tracker' transaction.id %}" style="text-decoration: none">
                        <div class="card" style="height: 100%;border-radius: 0">
                            <img style="height: 13rem" class="img-fluid" src="{{ transaction.project.projectimage1}}" alt="Card image cap">

                            <div class="card-body">
                                <h5 class="card-title">{{ transaction.project.name}}</h5>



                            </div>

                        </div>
                    </a>

                </div>
                {% endif %}


            {% endif %}


        {% endfor %}
    {% endfor %}
    </div>
    {% endif %}




{% else %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2" >
            <a href="{% url 'projects:categories' %}" style="text-decoration: none">
                <div class="card " style="border-radius: 0;">
                    <img  class="img-fluid " style="width: 50%;margin: auto" src="{%static 'frontend/images/add.svg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="margin-top: 1em">Create a new test</h5>

                    </div>
                </div>
            </a>

        </div>
    </div>

{% endif %}
    </div>
    <div class="tab-pane fade  " id="fraud" role="tabpanel" aria-labelledby="fraud-tab">
        {% if transactions %}




    {% if allopencalls %}

    <div class="row">

        {% for open in allopencalls %}
        {% for transaction in transactions %}
            {% if transaction.id == open %}
            {% if transaction.stage == "complete" %}

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 " >
                    <a href="{% url 'frontend:opencalltracker' transaction.id %}" style="text-decoration: none">
                        <div class="card" style="height: 100%;border-radius: 0">
                            <img style="height: 13rem" class="img-fluid" src="{{ transaction.project.projectimage1}}" alt="Card image cap">

                            <div class="card-body">
                                <h5 class="card-title">{{ transaction.project.name}}</h5>



                            </div>

                        </div>
                    </a>

                </div>
                {% endif %}


            {% endif %}


        {% endfor %}
    {% endfor %}

    </div>
    {% endif %}

{% else %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2" >
            <a href="{% url 'projects:categories' %}" style="text-decoration: none">
                <div class="card " style="border-radius: 0;">
                    <img class="img-fluid " style="width: 50%;margin: auto" src="{%static 'frontend/images/add.svg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="margin-top: 1em">Create a new test</h5>

                    </div>
                </div>
            </a>

        </div>
    </div>

{% endif %}
    </div>

</div>





    </main>
    {% endblock %}