{% extends 'recruiterbase.html' %}
{% block title %}
report
{% endblock %}
{%load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
        <div class="navbar fixed-top fine border-bottom">


            <ul class="nav nav-tabs" style="border-bottom: 0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active " id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                       aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="criteria-tab" data-toggle="tab" href="#criteria" role="tab"
                       aria-controls="criteria" aria-selected="false">Grading criteria </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="fraud-tab" data-toggle="tab" href="#fraud" role="tab"
                       aria-controls="fraud" aria-selected="false">Fraud detection </a>
                </li>


            </ul>


            <nav>

                <ul class="nav ">
                    <!-- Authentication Links -->
                    <li class="nav-item">
                        <span data-feather="user">

                        </span>
                        {{ user.first_name }} {{ user.last_name }}
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                    </li>
                    {% endif %}


                </ul>

            </nav>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
        <!---overivew details-->
        <div class="tab-pane fade show active " id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <section>
                <div class="card" style="width: 100%;border-radius: 0">

                    <div class="card-body">
                        <div class="row" style="margin-left: 0;margin-right: 0">
                            <div class="col-lg-4">
                                <img style="width: 18rem" src="{{ user.profile.profile_photo.url }}">
                                
                            </div>
                            
                            <div class="col-lg-4">
                                <div class="mt-3 ml-3">
                                    <div><b>Candidate name:</b>{{ user.first_name }}</div>
                                    <div><b>Email:</b>{{ user.email }}</div>
                                    <div><a href="{{ user.profile.github_repo }}">Github profile</a></div>

                                </div>


                            </div>

                            <div class="col-lg-4">
                                <div class="card"
                                     style="width: 100%;border-radius: 0;margin-right: auto;margin-left: auto">

                                    <div class="card-body text-center">
                                        <div class="h5">Mean score</div>
                                        <h1>67% <span class="badge badge-primary">B</span></h1>
                                        <a class="btn theme--dark primary1 mt-3 " style="border-radius: 0;color: white" href="/">View Code base</a>


                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <br>

            <section>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="h4 text-center">{{ transaction.project.name}}</div>


                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6 text-center">
                        <div class="card" style="width: 100%;border: 0">

                            <div class="card-body">
                                <h5 class="card-title">Project description</h5>
                                <p class="card-text">{{ transaction.project.description}}</p>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="card" style="width: 100%;border: 0">

                            <div class="card-body">
                                <h5 class="card-title">Concept tested</h5>
                                <p class="card-text">
                                    <span class="badge badge-info">{{ transaction.project.concept}}</span>
                                </p>

                            </div>
                        </div>


                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="card" style="width: 100%;border: 0">

                            <div class="card-body">
                                <h5 class="card-title">Tech stack</h5>
                                <p class="card-text">
                                    <span class="badge badge-info">{{ transaction.project.framework.name}}</span>
                                    <span class="badge badge-info">{{ transaction.project.framework.language.name}}</span>

                                </p>

                            </div>
                        </div>

                    </div>
                </div>

            </section>

            <br>


            <section>
                <div class="row" style="margin-left: 0;margin-right: 0">
                    <div class="col-lg-12 text-center h4">
                        Key competencies
                    </div>
                </div>
                <div class="card" style="width: 100%;border-radius: 0">
                    <div class="card-body">
                        <div class="row text-center" style="margin-left: 0;margin-right: 0">

                            <div class="col-lg-4">
                                <div class="h6"> Deliverables</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/delivery.svg" alt="Card image cap">
                                    </div>

                                    <div class="card" style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">80% <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Tests passed</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h6">Error handling</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/404.svg" alt="Card image cap">
                                    </div>

                                    <div class="card" style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">80% <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Errors</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h6"> Project security</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/security.svg" alt="Card image cap">
                                    </div>

                                    <div class="card " style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">80% <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Bugs</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h6"> Code readability</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/laptop.svg" alt="Card image cap">
                                    </div>

                                    <div class="card " style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">80% <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Comments</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h6">Time used</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/racing.svg" alt="Card image cap">
                                    </div>

                                    <div class="card " style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">340 minutes <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Time</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <br>

            <section>
                <div class="row" style="margin-left: 0;margin-right: 0">

                    <div class="col-lg-12 text-center h4">
                        Project deliverables
                    </div>
                </div>
                <div class="row" style="margin-left: 0;margin-right: 0">

                    <table class="table table-hover">
                        <thead>
                        <tr>

                            <th scope="col">Deliverables</th>

                            <th scope="col">status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td>{{ transaction.project.requirement1}}</td>

                            <td><span class="badge badge-success">Complete</span></td>
                        </tr>
                        <tr>

                            <td>{{ transaction.project.requirement2}}
                            </td>

                            <td><span class="badge badge-success">Complete</span></td>
                        </tr>
                        <tr>

                            <td>{{ transaction.project.requirement3}}
                            </td>
                            <td><span class="badge badge-warning">3/4 complete</span></td>
                        </tr>
                        <tr>

                            <td>{{ transaction.project.requirement4}}</td>
                            <td><span class="badge badge-warning">1/2 Complete</span></td>
                        </tr>

                        <tr>

                            <td>{{ transaction.project.requirement5}}</td>
                            <td><span class="badge badge-warning">1/2 Complete</span></td>
                        </tr>


                        </tbody>
                    </table>


                </div>


            </section>




        </div>
        <!---metrics-->
        <div class="tab-pane fade " id="criteria" role="tabpanel" aria-labelledby="criteria-tab">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Tests Passed</strong></div>
                                <p>(Number of Unit Tests Passed)</p>
                                <h3 style="color:rgb(0, 128, 28);"><strong>6</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Tests Failed</strong></div>
                                <p>(Number of Unit Tests Failed)</p>
                                <h3><strong>2</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Warnings</strong></div>
                                <p>(Total Number of warnings)</p>
                                <h3 style="color:rgb(241, 7, 7);"><strong>8</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Errors</strong></div>
                                <p>(Total Number of errors)</p>
                                <h3><strong>1</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Lines of Code</strong></div>
                                <p>(Number of code lines)</p>
                                <h3><strong>169</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Duplications</strong></div>
                                <p>(Density of Duplication)</p>
                                <h3><strong>0%</strong></h3>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Classes</strong></div>
                                <p>(Total Number of Classes)</p>
                                <h3><strong>0</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Comments</strong></div>
                                <p>(Comment Line Density)</p>
                                <h3><strong>0%</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Dependencies</strong></div>
                                <p>(Dependencies to cut)</p>
                                <h3><strong>0</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Run time</strong></div>
                                <p>(In seconds)</p>
                                <h3><strong>1.39</strong></h3>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Technical Debt</strong></div>
                                <p>(Cost to fix maintainability Issues)</p>
                                <h3><strong>Nil</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Quality Gates</strong></div>
                                <p>(Rate of code quality)</p>
                                <h3 style="color:green;"><strong>OK</strong></h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!---fraud detection-->
        <div class="tab-pane fade " id="fraud" role="tabpanel" aria-labelledby="fraud-tab">


            <div class="container-fluid">
               <section class="jumbotron jumbo2">
                <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 2%">
                    <div class="col-md-6 col-lg-6 col-xl-6 text-center" style="margin-left: auto;margin-right: auto">
                        <p class="h3">Fraud detection and mitigation
                            <br>
                        <p>session imagery of candidate during coding on our monitored workspace</p>



                        </p>

                    </div>

                </div>
            </section>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/60BWmu9oNnYGSgS9NK4HLNEeM9i7WVcOXOsrZc8WqSezf22JhX11OWOrkha60MieRuzG9CVXpoHJTRMNplcKZ7FXuGnN8P0PjIEFAajnAit0nJ1ojBzcM23V_tGvSxAXbfP2HaXeQ2o_dMIJnRLKFtOCnu_eg0e0vHqRanoAsMADvP8mpAlQZVxDrIGqBwKVYZLlSZeTwxpwITqY58Ra0U_kKapfEcOjzgvC5lV8MpIVFUNNwh6McG_lu2j5nuKjkFCb1dOxN48HHajjiXtntjIEfzCKcUMq9rzA4ww3FMn43g6VZYY18kwNvxSlEe6ACzFEbHdQZVy9zirlQX71q0rbbbSI14QyZNptACRHv7Vn4qQv_tMkHpknCycKQJJd1N1frgbRDYQlO4hAPv8-A1FjasbSR_5WWTkZxNO-cTfsogQjWfOGvM_Jjv6TYMrnip4GfH5XKnWx4qK36MC8wp4txpY1FNCx33S33pSSAbll6rsouzDyH7gCKQdJUCS0J3WTwzb1BvojVn6M1XwFWLTbz6IHnkZmZhsVybGJ7Woz8rweTBlfHm-162lmJK23cv6ECwiLAWCwqEscx3Eb2cxxiPsdOTyfAKUHjS3ETovdWtipw0eCDbeyrPANB97aXeLu4LC2yK-93WHgwWlYGk2SEcACQolsp04Q8g44vSl-=w1236-h695-no">

                </div>
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/r9X2ChKI2pFgXpMe9mfy9dy3svm_CSwAhsevCQI0Aif9hhJdRGiCD63D6fJHL9rGngHvp0JTK4y9WkY25-STkmw7VtTEHx4V3mC-Ldt-gHFxZgGEs-d_C1IAJTfjjzm3YGPOu2hvs0Qqkh_MKAxOF1WQ-la5dSynqWZi4JA3p6GaDAvTDD99V0JYaL_2KSwoDGk7MbKO_1rSPiwwqI5Qm8pIRF71d5JLSu9D22NI82_POp_fPha785Ra54rHxqLkDTd9CZEJqLPnGQ9sh4DBAwoLMsPX_8I9lnAwMvhz57QJG_8_W3GPgJdzOwJZGOh8shDUONoVrTzxY_vXotXgw5FeGdVaCuNv54orV3UWuHB8zBypYZIuziUz1xKsdpdYVG7XeIclXfNTpzwQo3qJR9VoLPzOJV_M_DDjpi6zqj6zqu-vU7fsItJMsWV1JKQY7RrLRgrMQagbWIqzqIH3sWzRHHJzC7u65-ugQ6OraINdML7r3ZEtGMN10sXJ9o3Htn574k9DA0gdfzpN9RfZmtwzbJMjpktjNDYwFbD3Q_qAVu8GczstU5TXKp_XuQ9TSbB1Z9jGl_DWUrK_Wpau_QfjqktjELJru-pVebLfBrou95AgeGy36ZQP1IW6RcXo3VUtJaBqb1xBQ4S0OlhjLSMC4aNY8bDCilvdquMncVUa=w1236-h695-no">

                </div>
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/qFTOHSsxdygpI16pXtIQ26PmdnkUm9xAwcHSd6ybKRaSv1ikSNmL_E7pwWZ9FtJ-YTkc4vgmRaySKjLVWKs4IkpTFGcr9eL42a5gJkzzBXaeGMCK7eoj_6rf_eiqlrt9AkapQd7LGJSFAOh8e_rEP2EygP55jVa4F-ZBo7kU7QF4kZXI0iM33T5_Tal0jDmFFLVdgqN3S4kuZp0E1WkSa3I6mxv95dZ6UfgSPTkXWjD33r-wRWFOAkwvfMxOmCAtXhrAYjU2LWnjA39SIulHpeXlFg97eKMHbL6-Vt35It325KDxVFBS7gbgrbx1VB6XqmG28RbHwegOh9iGPQuot4bLta_vR_VJxkm_DZLba9PGMFKWef2q3ymOLwtFcG9INa4pWw5pA9LTvcef4GzoOpAlw4jICmhW063vo6sd2vpSx3zKnBqk0QmW98KvxX3QXL7wCE8i7VsXgINGO-08R6z7bRvJ3wWtUaNwGdXNXOrzWwbo__CPkSl_xrW22Oi-nu2G-DGjlzaJWd81DMzNCAzNDrVY9zXKDTpgTmpnBsbENxDINo3sNmVnefCOzQwc2AZ_9HhFal8DYPPHn6iupGNtyXSdgdWOjpCz7ZKptH6aOf-b64KvC8RtWPTje_le5rp2ed4bEWL4StiaKy0FdmjcbBiCYVjpw0SU0jNG9fGJ=w1236-h695-no">

                </div>
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/D9JnCNudsPIq3th21sVwEA7gbS7go_rAm_dDQnoJo2j8BtWCFEbYIz1lDfPy2wNIfIQ147mqbsbzjq8M9FDBdMQH-mfYRYmuudsl6-0DhRrW_UlNHyz8E6aofawWoC-Lk3InRLHt6XLtpBiTNJP47JivWvR3ZkPNs-cTrPDlGW4fIcwItYuHmNFiHfBdYXqm9kQdzzQ92Du_xcwb7NjKh4E2DZ8rm3u3rqxpv1dnU-cs54oo8uQ-tPwM99_S7rm2pYZsV2LGpX3t-gI4-APvO1aro7NaPE5VkAtBUg6gfRKm3TEXNRTLPIaHwm_5y3MpGU1AdkO9-NQ9LUkKHUrGAcWbeIBRtmiYm82TWYUgCB9_Ziv9Akx4xnVmcIjgAdWRGjGRWG_UrwiqquRN58khCmAB3Q_DZkozko_vC-7Khb1XOIjMqd75jCE_QCJJ8_BhFFW1BrAX3R0387sfCuoUQNSsl5HzzIU6gDUe97D8BcAc9G6_lwnyL3bPbMZ-_-r4sbDld3JXU-uSoSZiIA7H7a6P2aZgjf4CbRECHXMnf7XaaPk4GG6XJiQrNiBFaV9xa37oDFNuyGdoBhbsBKPsS90JbvJjKuHC40wB1LBQN7f0sr96JoENBogFaIuWcMe01Tr3r35zwUaD-MqHr-j0ipOT3wekFRMhnuSasI9ui0GA=w1236-h695-no">

                </div>
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/asYUAitsC47wF-JhZ-905WwON-QMNa_S26VeIBsIjch2cABHzpwr5yzdYDojjtLDxtee0wegvOWCZFVBHZ4IP9hb0yQYzD8B_tn6Aqq4M7086vS5x5O92Mpm7jviAD1yIBiI0Csmg320k8p5-sH-bdlv8YRDI253cGjaa32D8rKnl7BUUBP-C_FP1IZcEYz4mybZySEKk9LvIAfzJb4YpjA9QOX0PXz21l-0iz0-TWVzuMwciPOolw-MMotSRwLfy0k5f_aWUuR_sIVkSxsJDjnIR-23wTst4000PCExNrMOHkJ-plM_msOT9cpYo0wXGn9sMmaOo1UKRt4bmY4ET5Ui2seaxFJaeGrQ8gQ2DNTsNL8AdcBbdY1WXrqpVEyIPWPOdk9-XXqa6eGwinxZorSHgKHpqs__KvBHeGjMMTDzMbXNHWMI6KRn13d0iCuNVTZs1vjxew2jbxhkXi1KIjwK2Ww_IhzLJKecz7B5AYsUZWb-vs3bg1kUFtSVKU3y5qu4mZcXRa0Zkpuf7OkvmXvTVpm5L8Ri7mgizAAuAKN2J2uSJuYYV8RSgVmPeLq4I9UDCo9qFK06INA_t7DxkqpcGGJkTnEFovMKZLA4d2ZxAJTKJJuyqmgu_WSkf5ZkMrkUxqwqGCH8xjZC7OVB1DEHOaX16ILvNZpTOtf_6Fvz=w1236-h695-no">

                </div>
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/lX4BaaGmqqZ27ZLb9dto3Az0hZ4OsHKAXlgKx8j824mSMK3iqDPRD9Qrhcz4_pF1L9Y2fFrFOqpjPNvq5es8tY2D4__kNcvZaKYt-geCHRJ5gy5fub0jBdz2ejBbjnbsBxkpUEgIdeYNB6EyU1DmyxJz86ij4HV0_5Hvu8Z7KhoPvqqh9flpPcUreLo8w5qbJXBRd0Ezk3X2X5PJnAFLLelj5u48z9TG3DxyvDgWpBerUflPu5b7C92RdR5k5sVYZKi1tElJYXaNikLf0yYEKDm0xmGa8_-9m3_9wzUMW7AntmpF-ecA4XsesqUlT06oPwg3Lz-wFnIwFzbjzUfLHTUj54AndLf_XE_Vjkq0ZaGY6ywSL9QEQnvyN3C2faGYeyBpSds7qD0EAjmM8DH4bFWk2QFMlLYuOVbG5rDwqqVwvEcdqnvlgpNwtqvxC1JLudqyLzTJnGR4kUn7bBr5nNHxlqgdWtJimuU-48x3_G5M_TVr39b4ot-fPdc5etHDNFmWoZm0lA0uRIaIBZaj9RLa6fHSsuwkvjsdxnnYu-3YM-IAXjOPnKiT2LWJvZM9N3obqiFv23Ov92zD-pYXWTZx1ql1ZAnfQSd5anuZyVmkE1SgDSPnfQeWq3JHYhi16Rs_03YRiMoHmLBNpb_nimbYEclDYwhBT93BUWWkyszC=w1236-h695-no">

                </div>
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/mmb59QOStx7AHg86yYFYltCqHzHJUiTlWsI7RcYstIwv-O8bOiXgJ24rT4Y-kd2yOmgop2Hj32jn4dfqXXcSiIAZnENKQZltNRQNhFKiucXDLTKvmcNXR28Xghl3k0NldFjTiT_ooEYQUtU_JNEYWsAcYMUx0a4rhl-tOCBxOy4tKxookIOmP9Jurult5FULOlaOvlAQ3OUvDtaVjZQ4ZYQA8wLiiJYSFpESFZJCa9xIKdVP4-qoYvnKoIqNJWD1BO_OV_cgnGayteIgo9hhCylaVP3Hr6beG9bVEYxlnt1y49Bl-bd9IHZ9pgN9iPxa9tCQJJJSPNzWntXk1z3nulesDQsDfXjXP8o6KWjBX4x_dnBsTbkt4uYS7R15X_UlEFOB8evgsZoIGm6P7lRYdkiCanaebAjePujACKQ34D8Zf804kUlp2Nrdnb663M73T9OTqF0H8OH0rddt2aL21KABFa6Z0CEnLP5S9qG12baSk1PrhEt0zv2NWdd7dSFSjhHjZX5WKTfQFj99R60hmRjgNm2ysPNX5VP9IU6jN2VUsAnQH9_LHTY5C9ORr-AoFZUEUXoCY7aUnPnIPEnzo1Te6oVUowvbUxOEL4Rsjc8fPAf9B-WZnukxl7dMQG8tDHYBEKvQX2snhZDrf0dlLEGAUf8cU7CjBEp2ZVKNI2JA=w1236-h695-no">

                </div>
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/DWhgv2POsgCJAW3VDUrIAQqCMcfpoQKbcVjDz_9Ic0Po7zfGxm3x_ouWFSj58RcV0_OwX0gfGZhe-3MQYptb-y8xiGO2oZ4-b5MnJnmt9LEjuhP_S6cyTNfi1uhoOydhFCrsYkskYbhiltS6IJnvYejnTeiXiGG2lSpWy5wfUYN9D7kALKqr6FPyIAVP0Cf84_4wL-3MJyRAULqF_DtNmtIK5lTh6YfplgmkSShKlAcq5xp0JVtxIVo15OIXmO8osOqXiEKgGoKxNfn4VoMhPyzp87OcG4LzadU71HE0KV3RXcEtinmi-yA26WG9J3kFGHaJW_TadDOwpfMvTI1Bk6zdw64viZze-ZodYEkJIKBhJxGyNlqGwm3HGxbWW4_FOycw_GsmQlKJrsPU5ShwjA01BD_iNr4CZUzwKqA258dQTrNoU7frjqWRkSzYvvBCOgdHqkb3vpSkHBDBIK_1WPaGAuvT2TL-U7q4icmNGsrz9PuXGoOqytBMco4XiovJoW3_JJxGzfDoyTNatjR48JBruT5P5pYCH_uilbFWRy0YcsV7OymF_P-VTxbGxI4hsO2PKDNTCSd5ffrZQUmUI_24YcRpc5VwggCuBgypvyOb__BW20-FiM1j5E2Ssz0845wlJ0gXlnUPMzMD_aoiVDxXxfpip56uhl-ElIigYo0h=w1236-h695-no">

                </div>
                <div class="col-lg-4">
                    <img style="width: 18em" src="https://lh3.googleusercontent.com/YSRLJKSG8PQE8eu4BH8jUlLJ1coEutAlwpXzD5CO1RF9pjQt3K60MPvRIHH9qgoUAuUk0zDn5rvAfT9mtWUuzmMkoK9FdCQbJnCpfj3qSGNnqK0EjY5QjNuCcpV5xCpu0UI1NeqBNmMGZJeQt4WYC1_ETBQWZyCSvqCyQOGCkVyXkg91mrQulu3sRNvBA4FGuFi4xovleDxBHEh7wZWJKZXE_3ajuZXnpu950VHvMwEkyRdFd2tKrkGNQnOeh3A-DawwqpkQrWTF4nib1QsMEsQPEQG_MY9W0zS85Xt07uzVs0COH7LQOTHW31hRtSgntbREeGkOm0j4F5UKg2XeirjLOfg0v1KdibH0cIowZpgUm6iF9Ooco9M2SE2D8Oou5m_364NUiTfKxC5dY_J8OPNCBg_o7o4A_I-A352mdybmMJnUuE3A55MA3zcf0dEzdUJW8jWV30Udac83UanCTl7XNMBc9eA-B5O1g-IjlyoIpjt3BxCS8HTRJ3Z_MG6RybmuAIErqhSL5MVT8YiLWqm53Bm-rFokVBvHoBjTRT5FkNXljNExDrFmeevpIP_7qJJDddAr_gqKzIDRvURsR4jawLURbW4tzYY1dUYnGkNIzH3Mm6nsgxbC07w9kjCM3dTRHKDPW1LkNi_59qh9-73i60hkxgRJgsF3RE_w6IVJ=w1236-h695-no">

                </div>

            </div>


        </div>


    </div>


</main>
{% endblock %}