{% extends 'recruiterbase.html' %}
{% block title %}
report
{% endblock %}
{%load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
        <div class="navbar fixed-top fine border-bottom">


            <ul class="nav nav-tabs" style="border-bottom: 0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active " id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                       aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="criteria-tab" data-toggle="tab" href="#criteria" role="tab"
                       aria-controls="criteria" aria-selected="false">Grading criteria </a>
                </li>


            </ul>


            <nav>

                <ul class="nav ">
                    <!-- Authentication Links -->
                    <li class="nav-item">
                        <span data-feather="user">

                        </span>
                        {{ user.username }}
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                    </li>
                    {% endif %}


                </ul>

            </nav>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
        <!---overivew details-->
        <div class="tab-pane fade show active " id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <section>
                <div class="card" style="width: 100%;border-radius: 0">

                    <div class="card-body">
                        <div class="row" style="margin-left: 0;margin-right: 0">
                            <div class="col-lg-8 ">
                                <div class="mt-3 ml-3">
                                    <div><b>Candidate name:</b>Dennis Ruhiu</div>
                                    <div><b>Email:</b>robertruhiu@gmail.com</div>
                                    <div><a href="https://github.com/robertruhiu">Github profile</a></div>

                                </div>


                            </div>

                            <div class="col-lg-4">
                                <div class="card"
                                     style="width: 100%;border-radius: 0;margin-right: auto;margin-left: auto">

                                    <div class="card-body text-center">
                                        <div class="h5">Mean score</div>
                                        <h1>67% <span class="badge badge-primary">B</span></h1>
                                        <a class="btn theme--dark primary1 mt-3 " style="border-radius: 0;color: white" href="http://cryptoprize.herokuapp.com/">View Code base</a>


                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <br>

            <section>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="h4 text-center">Ilightup analytics</div>


                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6 text-center">
                        <div class="card" style="width: 100%;border: 0">

                            <div class="card-body">
                                <h5 class="card-title">Project description</h5>
                                <p class="card-text">Ilightup analytics is set to create its own Api to
                                    distribute sensitive data to its client.
                                    They currently want a GET request only. Due to the nature of sensitivity the
                                    data access restrictions have to be put into place.
                                    They want you to automate a system that uniquely generates an Api key and
                                    assigns it to each first time user.</p>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="card" style="width: 100%;border: 0">

                            <div class="card-body">
                                <h5 class="card-title">Concept tested</h5>
                                <p class="card-text">
                                    <span class="badge badge-info">Api security</span>
                                </p>

                            </div>
                        </div>


                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="card" style="width: 100%;border: 0">

                            <div class="card-body">
                                <h5 class="card-title">Framework</h5>
                                <p class="card-text">
                                    <span class="badge badge-info">Django</span>

                                </p>

                            </div>
                        </div>

                    </div>
                </div>

            </section>

            <br>


            <section>
                <div class="row" style="margin-left: 0;margin-right: 0">
                    <div class="col-lg-12 text-center h4">
                        Key competencies
                    </div>
                </div>
                <div class="card" style="width: 100%;border-radius: 0">
                    <div class="card-body">
                        <div class="row text-center" style="margin-left: 0;margin-right: 0">

                            <div class="col-lg-4">
                                <div class="h6"> Deliverables</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/delivery.svg" alt="Card image cap">
                                    </div>

                                    <div class="card" style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">80% <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Tests passed</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h6">Error handling</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/404.svg" alt="Card image cap">
                                    </div>

                                    <div class="card" style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">80% <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Errors</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h6"> Project security</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/security.svg" alt="Card image cap">
                                    </div>

                                    <div class="card " style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">80% <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Bugs</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h6"> Code readability</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/laptop.svg" alt="Card image cap">
                                    </div>

                                    <div class="card " style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">80% <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Comments</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="h6">Time used</div>
                                <div class="card competencecard">


                                    <div style="text-align: -webkit-center;">
                                        <img style="width: 20%" class="card-img-top "
                                             src="../../static/frontend/images/racing.svg" alt="Card image cap">
                                    </div>

                                    <div class="card " style="border: 0 ">


                                        <div class="card-body">

                                            <h6 class="card-title" style="text-align: -webkit-center;">340 minutes <span
                                                    class="badge badge-primary">A</span></h6>
                                            <p class="card-text">Metric used: Time</p>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <br>

            <section>
                <div class="row" style="margin-left: 0;margin-right: 0">

                    <div class="col-lg-12 text-center h4">
                        Project deliverables
                    </div>
                </div>
                <div class="row" style="margin-left: 0;margin-right: 0">

                    <table class="table table-hover">
                        <thead>
                        <tr>

                            <th scope="col">Deliverables</th>

                            <th scope="col">status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td>Fetch data from open weather map api</td>

                            <td><span class="badge badge-success">Complete</span></td>
                        </tr>
                        <tr>

                            <td>Configure a REST api to access the data
                            </td>

                            <td><span class="badge badge-success">Complete</span></td>
                        </tr>
                        <tr>

                            <td>The dashboard should contain unique ID, Name of City, Visibility and Temperature
                            </td>
                            <td><span class="badge badge-warning">3/4 complete</span></td>
                        </tr>
                        <tr>

                            <td>Search Feature and error handling .</td>
                            <td><span class="badge badge-warning">1/2 Complete</span></td>
                        </tr>


                        </tbody>
                    </table>


                </div>


            </section>

            <section class="jumbotron jumbo2">
                <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 2%">
                    <div class="col-md-6 col-lg-6 col-xl-6 text-center" style="margin-left: auto;margin-right: auto">
                        <p class="h3">Fraud detection and mitigation
                            <br>
                        <p>Access a repo of session imagery of candidate.Use it to ascertain identity during physical
                            interview</p>

                        <a class="btn theme--dark primary1  " style="border-radius: 0;color: white;width: 20%" href="">Access</a>

                        </p>

                    </div>

                </div>
            </section>


        </div>
        <!---metrics-->
        <div class="tab-pane fade " id="criteria" role="tabpanel" aria-labelledby="criteria-tab">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Tests Passed</strong></div>
                                <p>(Number of Unit Tests Passed)</p>
                                <h3 style="color:rgb(0, 128, 28);"><strong>6</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Tests Failed</strong></div>
                                <p>(Number of Unit Tests Failed)</p>
                                <h3><strong>2</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Warnings</strong></div>
                                <p>(Total Number of warnings)</p>
                                <h3 style="color:rgb(241, 7, 7);"><strong>8</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Errors</strong></div>
                                <p>(Total Number of errors)</p>
                                <h3><strong>1</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Lines of Code</strong></div>
                                <p>(Number of code lines)</p>
                                <h3><strong>169</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Duplications</strong></div>
                                <p>(Density of Duplication)</p>
                                <h3><strong>0%</strong></h3>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Classes</strong></div>
                                <p>(Total Number of Classes)</p>
                                <h3><strong>0</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Comments</strong></div>
                                <p>(Comment Line Density)</p>
                                <h3><strong>0%</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Dependencies</strong></div>
                                <p>(Dependencies to cut)</p>
                                <h3><strong>0</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Run time</strong></div>
                                <p>(In seconds)</p>
                                <h3><strong>1.39</strong></h3>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Technical Debt</strong></div>
                                <p>(Cost to fix maintainability Issues)</p>
                                <h3><strong>Nil</strong></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card metric">
                            <div class="card-body text-center">
                                <div class="card-title h4"><strong>Quality Gates</strong></div>
                                <p>(Rate of code quality)</p>
                                <h3 style="color:green;"><strong>OK</strong></h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>


</main>
{% endblock %}