{% extends 'recruiterbase.html' %}
{% block title %}
    project categories
{% endblock %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
            <div class="navbar fixed-top fine border-bottom">

                <h5>Which skill are you looking to test for?</h5>

                <nav>

                    <ul class="nav ">
                        <!-- Authentication Links -->
                        <li class="nav-item">
                        <span data-feather="user">

                        </span>
                            {{ user.username }}
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                            </li>
                        {% endif %}


                    </ul>

                </nav>
            </div>
        </div>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            This chart helps you to filter out tests in regards to the skill you want it is based on the types of software developers
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>



        <div class="row" style="margin-bottom: 2% ">


            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">


                    <a   href="{% url 'projects:all-projects' %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard " src="../../static/frontend/images/www.svg"  alt="Card image cap">
                        </div>

                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title" style="text-align: -webkit-center;">Web development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">
                    <a  href="{% url 'projects:all-projects' %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard" src="../../static/frontend/images/smartphone.svg"  alt="Card image cap">
                        </div>
                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title" style="text-align: -webkit-center;">Mobile development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">
                    <a  href="{% url 'projects:all-projects' %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard" src="../../static/frontend/images/graphic.svg"  alt="Card image cap">
                        </div>
                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title" style="text-align: -webkit-center;">Graphics design</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 2% ">
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">


                    <a   href="{% url 'projects:all-projects' %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard " src="../../static/frontend/images/web-design.svg"  alt="Card image cap">
                        </div>

                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title" style="text-align: -webkit-center;">Frontend development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">
                    <a   href="{% url 'projects:categories' %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard" src="../../static/frontend/images/web.svg"  alt="Card image cap">
                        </div>
                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title" style="text-align: -webkit-center;">Backend development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">
                    <a  href="{% url 'projects:all-projects' %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard" src="../../static/frontend/images/network.svg"  alt="Card image cap">
                        </div>
                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title" style="text-align: -webkit-center;">Fullstack development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 2% ">
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">


                    <a   href="{% url 'projects:all-projects' %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard " src="../../static/frontend/images/thinking.svg"  alt="Card image cap">
                        </div>

                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title" style="text-align: -webkit-center;">CTO</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">


                    <a   href="{% url 'projects:all-projects' %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard " src="../../static/frontend/images/develop.svg"  alt="Card image cap">
                        </div>

                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title" style="text-align: -webkit-center;">Senior developer</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>


    </main>

{% endblock %}