{% extends 'recruiterbase.html' %}
{% block title %}
    application tracker
{% endblock %}
{% block content %}
    <main role="main" class="col-md-12 ml-lg-auto  col-lg-10 px-4 ">
        <div class="d-none d-lg-block">
            <nav class="navbar  navbar-light fixed-top fine border-bottom">
                <h5>Applicants tracker</h5>
                <ul class="nav ml-auto">


                    {% if request.user.is_authenticated %}

                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" style="color: black" class="nav-link">Logout</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" style="color: black" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" style="color: black" class="nav-link">Register</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>

        <!-----md devices adaptation------>
        <div class="container d-lg-none">
            <nav class=" navbar loginbar navbar-expand-md navbar-light fixed-top ">
                <a class="logoadapt h5" style="text-decoration: none" href="/home">Applicants tracker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span style="color: white" data-feather="menu"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'frontend:my-activity' %}">Ongoing tests</a>
                                <a class="dropdown-item" href="{% url 'projects:categories' %}">Create a test</a>
                                <a class="dropdown-item" href="{% url 'transactions:sourcing' %}">Source candidates</a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="/home" style="color: white" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" style="color: white" class="nav-link">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" style="color: white" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" style="color: white" class="nav-link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="d-none d-lg-block" style="margin-top: 8%">

        </div>

        <div class="d-lg-none" style="margin-top: 4em">

        </div>
        <div class="row ">
            <div class="col-4 d-none d-lg-block">

                <div class="card trackercard">
                    <div class="card-body">
                        <h5 class="card-title">Accepted invites</h5>
                        <p class="card-text">{{ cands.count }}</p>

                    </div>
                </div>

            </div>

            <div class="col-4 d-none d-lg-block">

                <div class="card trackercard ">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <p class="card-text">{{ project.project.name }}</p>

                    </div>
                </div>

            </div>

            <div class="col-4 d-none d-lg-block">

                <div class="card trackercard ">
                    <div class="card-body">
                        <h5 class="card-title">Testing Framework</h5>
                        <p class="card-text">{{ project.framework.name }}</p>

                    </div>
                </div>

            </div>


        </div>
        <br>


        <br>
        {% if candidates.count  == 0 %}
            <div class="alert col text-center alert-success" role="alert">
                <h4 class="alert-heading">No Invites accepted yet</h4>
                <p>Email invites have been sent to the candidates.Candidates who accept your invite will appear here</p>
                <hr>
                <p class="mb-0">CODELN may also source candidates for you for this project.Email us at :
                    <a href="mailto:info@codeln.com?Subject=Source%20candidates%20for%20project%20{{ project.project.name }}%20{{ project.id }}"
                       target="_top">
                        info@codeLn.com
                    </a>
                </p>

            </div>
        {% else %}

            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Project status</th>
                    <th scope="col">Report</th>


                </tr>
                </thead>
                <tbody>
                {% for candidate in candswithreports %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td>{{ candidate.0.candidate.first_name }} {{ candidate.0.candidate.last_name }}  </td>

                        <td>
                            {% if candidate.0.stage == 'invite-accepted' %}
                                <span class="badge badge-info">Invite accepted</span>
                            {% endif %}
                            {% if candidate.0.stage == 'project-in-progress' %}
                                <span class="badge badge-primary">Project in progress</span>
                            {% endif %}
                            {% if candidate.0.stage == 'project-completed' %}
                                <span class="badge badge-success">Project completed</span>
                            {% endif %}

                        </td>
                        <td>
                            <a target="_blank"
                               href="{% url 'frontend:report' candidate.0.candidate_id candidate.0.transaction_id %}">
                                Report
                            </a>
                        </td>


                    </tr>
                {% endfor %}
                {% for candidate in candwithoutreports %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td>{{ candidate.candidate.first_name }} {{ candidate.candidate.last_name }}  </td>

                        <td>
                            {% if candidate.stage == 'invite-accepted' %}
                                <span class="badge badge-info">Invite accepted</span>
                            {% endif %}
                            {% if candidate.stage == 'project-in-progress' %}
                                <span class="badge badge-primary">Project in progress</span>
                            {% endif %}
                            {% if candidate.stage == 'project-completed' %}
                                <span class="badge badge-success">Project completed</span>
                            {% endif %}

                        </td>

                        <td>
                            Report not yet available
                        </td>


                    </tr>
                {% endfor %}


                </tbody>
            </table>
        {% endif %}

    </main>

{% endblock %}