{% extends 'recruiterbase.html' %}
{% block title %}
application tracker
{% endblock %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  fley">
        <div class="navbar fixed-top fine border-bottom">

            <h5>Applicants by stage
            </h5>

            <nav>

                <ul class="nav ">
                    <!-- Authentication Links -->
                    <li class="nav-item">
                        <span data-feather="user">

                        </span>
                        {{ user.username }}
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="navbar-item w3-opacity" title="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_login' %}" class="navbar-item">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="{% url 'account_signup' %}" class="navbar-item">Register</a>
                    </li>
                    {% endif %}


                </ul>

            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">

            <div class="card trackercard" >
                <div class="card-body">
                    <h5 class="card-title">Applicants</h5>
                    <p class="card-text">{{ candidates.count}}</p>

                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="card trackercard ">
                <div class="card-body">
                    <h5 class="card-title">Projects in progress</h5>
                    <p class="card-text">1</p>

                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="card trackercard ">
                <div class="card-body">
                    <h5 class="card-title">Projects finished</h5>
                    <p class="card-text">1</p>

                </div>
            </div>

        </div>



    </div>
    <br>
    <table class="table" style="width: 100%">
        <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Project status</th>
            <th scope="col">Full report</th>


        </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
        <tr>

            <td>{{ candidate.first_name}} {{ candidate.last_name}} </td>

            <td>

                    <span class="badge badge-success">Complete</span>

            </td>

            <td>
                <a href="/report">
                    Report
                </a>
            </td>


        </tr>
        {% endfor %}





        </tbody>
    </table>
</main>

{% endblock %}